[2017-11-01 19:47] aaronlelevier opened #18 "Ability to load custom fields for Model Mommy to also generate"
I'd like to be able to load a custom fields list to `model_mommy` so that Models with these fields can also be generated.

Maybe this is similar to a [Recipe](http://model-mommy.readthedocs.org/en/latest/recipes.html) but it would be a one time config load of fields that comply to an interface potentially, and then `mommy.make(MyModelWithACustomField)` would be able to still generate the Model ins

[2018-07-17 17:35] matheusbsilva opened #19 "_fill_optional doesn't throw any error when using invalid field"
When I use an invalid field name to a model through `_fill_optional` param on `make` it doesn't throw any error warning about the invalid field that I'm trying to fill. Ex.:

[code]

This should be the expected behavior?

[2018-08-06 12:06] graingert opened #20 "invalid related properties are not reported"
With these models:

[code]

If I do:

`mommy.make('Author', book__name='foo)`

It just fails to make the Book silently, I should get an Error like:

[code]

[2018-09-10 14:30] graingert opened #21 "Can't create a user in a group due to gen_m2m MAX_MANY_QUANTITY"
eg:

[code]

it tries to create 5 groups with the name: 'foo' but that fails with a unique constraint error

[2018-09-28 18:04] aipi opened #22 "Feature: start parameter in recipe.seq() if is passed a string"
`recipe.seq()` already give the possibility of `increment_by`, and if make something like `seq(4)` it increment starting in 4. However, would be cool if passed a string to `recipe.seq()`, it gives the possibility of determinate the start of incrementation.

Something like:
[code]
Returning:
[code]

[2019-02-05 17:00] ukch opened #23 "Can't set the value of a DateTimeField with auto_now or auto_now_add"
To reproduce
[code]

Expected:
* The specified date should be printed with time set to midnight

Actual:
* The current datetime is printed

This is to do with the `DateTimeField`'s `pre_save` method, which overrides the initial value with the current date if `auto_now` or `auto_now_add` are true.

[2019-02-12 21:12] tylerecouture opened #24 "persistant foreignkeys not created"
My understanding from the docs is that foreign key fields are supposed to be persistent, but this isn't working for me:

[code]

How do I force persistant foreign key fields?

model-mommy==1.6.0
Django==2.0.10

EDIT:
Upon further review, this may be a problem caused by the foreign key's model?  Other foreign key are being created as expected.
[code]

I can access the user and the semester foreignk

[2019-04-17 11:21] He3lixxx opened #27 "Document callable and iterable attribute values"
It is documented that recipes can have callables and iterators as value [here](https://model-mommy.readthedocs.io/en/latest/recipes.html#recipes-with-callables)

The source code looks like you can do the same thing when not using custom recipes but rather just `mommy.make(Class, **attrs)`:
https://github.com/berinhard/model_mommy/blob/2f8948ce1d8ee5c29d097d1890bcf2811ef0e80c/model_mommy/mommy.py#L

[2019-04-18 20:34] urbnjamesmi1 opened #28 "Using make_recipe with _quantity together with related key only applies to last item created"
Using make_recipe with _quantity together with related key only applies to last item created

Given this setup code:

mommy_recipes.py:
[code]

In a test python file:
[code]

## Expected behavior

That each model in `people` has the 2 dog instances.

## Actual behavior

Only the last item in `people` has the 2 dog instances.  The first 2 are empty.

## Reproduction Steps

How to reproduce this iss

[2019-10-08 14:39] pvergain opened #30 "SSHR_FREE_DAYS initialization with the workalendar module"
To initialize the SSHR_FREE_DAYS you can use the holidays() method from  https://github.com/peopledoc/workalendar.

[(datetime.date(2012, 1, 1), 'New year'),
 (datetime.date(2012, 4, 9), 'Easter Monday'),
 (datetime.date(2012, 5, 1), 'Labour Day'),
 (datetime.date(2012, 5, 8), 'Victory in Europe Day'),
 (datetime.date(2012, 5, 17), 'Ascension Day'),
 (datetime.date(2012, 5, 28), 'Whit Monday'),
 (

[2019-10-08 21:36] berinhard opened #2 "Use a name convention for placeholders for files"
The placeholder files for image and file fields have two different naming conventions:

[code]

`mock-img.jpeg` should use underline as well. The `MANIFEST.in` file should be updated with the new name.

[2019-10-09 12:26] berinhard commented on #2
Fixed by #3

[2019-10-09 12:26] #2 closed

[2019-10-11 11:59] berinhard opened #7 "Rename model mommy references in the docs"
This work is required so we can release version model_bakery's 1.0.0 :+1:

[2019-10-11 12:00] berinhard opened #8 "Add model_bakery to readthedocs"
Configure readthedocs by adding the model_bakery repo.

## Expected behavior

To be able to access https://model-bakery.readthedocs.io/en/latest/

## Actual behavior

404 hehehe

[2019-10-11 12:03] berinhard opened #9 "Create an auxiliar script to replace model_mommy to model_bakery"
It would be nice to have a simple gist with a few `grep` + `sed` commands so people can run to replace `model_mommy` by `model_bakery` in their projects.

## Expected behavior

I don't have any strong opinion on that and I'm open to any ideas...

[2019-10-11 12:05] berinhard opened #10 "Add model_bakery to pypi"
RELEASE THE KRAKEN!!!!

[2019-10-11 12:07] berinhard opened #11 "Add github.io page to model_bakery explaining the history and reasons for this migration"
Blog post must have a gist with commands to help people to migrate their project to use model_bakery instead of model_mommy;

[2019-10-11 12:24] rodrigobraga commented on #9
What wrong with Model Mommy? :)

Bakery is the "same" of Mommy?

[2019-10-11 12:29] amureki opened #12 "Move from travis-ci.org (being deprecated) to travis-ci.com"
## Description

Currently, we are running travis build on their `org` service, which is being deprecated.
All public and private projects are supposed to run under travis-ci.com.

To do the switched we need to enable repo access to travis-ci.com and disable it on the old website. This should do the trick.

- [ ] Update the readme badge

[2019-10-11 20:20] berinhard commented on #10
Done this just to save the pypi URL. There were already some people commenting with me about the project, so I felt calmer by doing that. I've released the version 0.0.1a0: https://pypi.org/project/model-bakery/

[2019-10-11 20:20] #10 closed

[2019-10-12 08:39] amureki commented on #12
This is done.
https://travis-ci.com/model-bakers/model_bakery
https://github.com/model-bakers/model_bakery/settings/installations

[2019-10-12 08:39] #12 closed

[2019-10-14 14:34] berinhard commented on #12
Thanks @amureki!

[2019-10-14 14:47] berinhard opened #14 "Add examples of pytest usage to the docs"
All the code examples in the current documentation relies on Django's test case. Although this is more verbose and I do prefer to use `pytest` code style when writing my tests, it's good to use only django in the docs to avoid misconceptions on model_bakery dependencies. For example, if people read the docs and notice the test code is more related to pytest than django, they may think that pytest

[2019-10-14 15:16] berinhard opened #15 "Better fields examples for our existing docs"
As pointed by @anapaulagomes in [this PR discussion](https://github.com/model-bakers/model_bakery/pull/13#discussion_r334272667) the current models in our documentation have a lot of non-sense fields, such as `Customer.happy` or `Customer.wanted_games_qtd`.

It would be nice to have more semantic examples and also closer to real world data modeling.

[2019-10-14 15:32] #7 closed

[2019-10-14 16:13] #8 closed

[2019-10-14 16:23] berinhard commented on #8
https://model-bakery.readthedocs.io/en/1.0.0/

[2019-10-14 16:45] berinhard commented on #11
Ongoing work about that: https://gist.github.com/anapaulagomes/0a057478652a9a3814fa448d53502749

[2019-10-21 20:29] #9 closed

[2019-10-22 16:18] HeyHugo opened #25 "Recipe post creation callback"
Hi!

I'd like to hear if this is a feature that if not already possible somehow would be something worth considering. My use case is that I have models that are only ever sensible if they have a couple of related models, so creating these by hand after the main model feels cumbersome.

I know I can reference other recipes with `recipe.foreign_key()` and `recipe.related()` but these don't always he

[2019-10-22 16:18] GeeWee opened #26 "Unable to tell a recipe that it should not generate relation"
## Short summary

If we have a recipe where we want to override the creation of a ForeignKey, by setting it to None, this does not work as expected. The ForeignKey is created, and then afterwards set to None. This makes it hard if we're interested in doing counts of objects in test, as there'll be "phantom" objects floating around.

## Expected behavior
I expected this test to pass:
Example:
[code

[2019-10-22 16:19] berinhard opened #29 "Add field lookup syntax to `_fill_optional`"
I'll base my feature request using the following models as examples:

[code]

Now, let's imagine we have a test scenario for my `MainModel` which depends on the `optional` field from a `optional_fk` to have some random value so the test can pass.

Model mommy already solves this test setup scenario, but I think we could also be able to do so via `_fill_optional` with lookup fields. In my opinion,

[2019-10-22 16:23] anapaulagomes commented on #11
Already done in this repo documentation.

[2019-10-22 16:23] #11 closed

[2019-11-01 15:18] timabilov opened #32 "Add self `model_bakery.SELF` reference for explicit/future attribute set"
I think there should be convenient way to reference to the self/future object
## Expected behavior
       baker.make(
            'shop.Customer',
             username=model_bakery.FUTURE.first_name

        )
After that new object will have the same `username` as the `first_name` as an example
## Actual behavior
Right now there is no any possible solution AFAIK

P.S. I just wanna migrate to that

[2019-11-01 17:47] berinhard commented on #32
Hi @timabilov, thanks for your feature suggestion! I really liked the idea of mirroring values between the model fields and I feel it's a feature we can add to `model_bakery` indeed, but I don't know if the API you've suggested is the way to go.

My main concern here is that it grows the lib API to beyond `make`/`prepare` methods without defining an explicit entry point. For example, we have a ver

[2019-11-01 17:52] berinhard commented on #30
@pvergain I didn't understand what you're proposing with this issue. There's no `SSHR_FREE_DAYS` variable or constant in our code base, so I'm closing this issue, ok?

[2019-11-01 17:52] #30 closed

[2019-11-02 15:46] anapaulagomes commented on #32
I've never missed this feature but I think it might make sense to have it. Your proposal seems more readable, @berinhard. About potential circular references: good catch. :+1: We should try to cover potential pitfalls as much as possible.

[2019-11-02 21:15] timabilov commented on #32
@berinhard idea is not only mirroring  flat values. You can use this object as real self(which is what we will create) reference, and that's where it can be very useful @anapaulagomes :)
About API maybe you are right - but we have to get the real vision of object. That's the reason i mark it as `username=baker.FUTURE.first_name`. we can of course use as you say `username=from_future().first_name`

[2019-11-05 19:38] berinhard commented on #32
Got it @timabilov! Now I have a clearer vision on what you're proposing. Thanks for clarifying that!

But, unfortunately I don't think it's advisable for model bakery to be that intrusive on the test code style. IMHO this kind of API has a potential to hide the complexity of your tests and of your data model. This can be somehow misleading about the internal quality of the code.

For me, even thou

[2019-11-05 20:09] berinhard commented on #20
@graingert closing this issue because this is already working under the current version of model_bakery. Here's a snippet with the raised exception:

[code]

[2019-11-05 20:09] #20 closed

[2019-11-05 20:17] berinhard commented on #21
Hi! Sorry for the extreme late reply on this issue, but the lib renaming was a high priority for us and all other issues were on hold.

Model bakery do not handle constraints because this would hide complexity from the test code. We prefer to be explicit rather than implicit for this type of error. Instead of forcing a `groups__name` value, I suggest you to use the following and more explicit test

[2019-11-05 20:17] #21 closed

[2019-11-05 20:18] berinhard commented on #19
Fixed by #403

[2019-11-05 20:18] #19 closed

[2019-11-05 22:41] Kobold commented on #18
I'll take a swing at this one @amureki

First, thanks for taking a look at this issue. I would say the biggest issue with your comment is that your solution is specific to your project — I couldn't repurpose it to my project (Django tests), and it's kind of a headache to puzzle out the details of model load order and `__init__.py`s and stuff.

Earlier, you mentioned "I can imagine that we can solv

[2019-11-06 22:01] anapaulagomes commented on #32
To be honest, I rather keep my code explicit about what have been added to an object. In both proposals isn't as explicit as the way model_bakery currently works. Also, I'm not sure if the complexity of implementing something like _future_ will bring much value at this point, for all the reasons @berinhard mentioned.

[2019-11-08 21:18] timabilov commented on #32
I see your point, you are right about complexity, okay.

Thank you anyway!
I think case is closed :)

[2019-11-08 21:18] #32 closed

[2019-11-17 10:36] anapaulagomes opened #35 "Replace timezone code by Django's built in solution"
Model Bakery has a module to deal with timezones that was implemented before Django had a built in support for it. We should replace it by the [timezone API from Django 1.11](https://docs.djangoproject.com/en/1.11/topics/i18n/timezones/).

https://github.com/model-bakers/model_bakery/blob/c2b609f6b065e587cf4a2e4253b518634d4995b3/model_bakery/timezone.py

## Expected behavior

This lib should use D

[2019-11-17 10:48] anapaulagomes opened #36 "Investigate many to many creation with through option"
Someone gave us a hint about this test won't be working:

[code]

## Expected behavior

We must investigate weather this is working or not.

- [ ] Many to many creation should work via through option
- [ ] The test should reproduce this behavior accordingly

## Actual behavior

We have a comment saying it doesn't work. lol

[2019-11-17 17:07] dubesar commented on #35
@anapaulagomes  By delete timezone module you mean to delete timezone.py?

[2019-11-17 17:13] anapaulagomes commented on #35
Yes, @dubesar. I just updated the text to make it more explicit.

[2019-11-17 17:15] dubesar commented on #35
@anapaulagomes  So basically all the imports of timezone.py in all the other modules have to be replaced and also a single line of django for timezone is to be included.

[2019-11-17 17:22] anapaulagomes commented on #35
I can't tell for sure that these are the only things needed here. Yes, this issue is mainly about replacing the methods from `model_bakery/timezone.py` by Django's timezone module. But we have to make sure that the library still works the same way as before having the module replaced, which may include to adapt some things. @dubesar

[2019-11-17 17:34] dubesar commented on #35
@anapaulagomes what I am thinking to do is :
1.
Replace :
[code]
with
[code]
Remove tz_aware as now is sufficient and also remove smart_datetime

[2019-11-17 17:45] dubesar commented on #35
@anapaulagomes  If you find these changes correct then ping me so that I can make changes in the repo

[2019-11-17 18:43] anapaulagomes commented on #35
A good way of starting this is making all the changes needed in `model_bakery/timezone.py` and expect the tests to pass. After calling Django's methods from bakery's methods and making sure that everything is working fine, you'll be fine to replace the calls all over the code base. @dubesar

For the example you've shown, I'd say that just ` from django.utils.timezone import now` would be enough. F

[2019-11-20 22:49] berinhard opened #38 "Add a Python code formatter"
We should add [Black](https://github.com/psf/black) to enforce some code styles to improve legibility and maintenance.

- [x] Add Black as a development requirement
- [x] Add it to the pre-commit config

[2019-11-20 23:16] berinhard commented on #36
@anapaulagomes I don't know if I understood this issue, but I feel that we already have a test to cover this. Take a look at [this one](https://github.com/model-bakers/model_bakery/blob/master/tests/test_baker.py#L271). I changed one of the assertions manually to force it to fail and it's working as the traceback suggests:

[code]

Should we close this issue?

[2019-11-21 06:33] anapaulagomes commented on #36
This sounds like a investigation to me. Thanks for looking into it, @berinhard! It should be enough.

[2019-11-21 06:33] #36 closed

[2019-11-21 06:35] anapaulagomes commented on #38
Nice! I think would be nice to add it to Travis as well, @berinhard.

[2019-11-21 14:10] giovana-morais commented on #38
hey there! i've talked to @anapaulagomes and i'd like to take this issue. (:

[2019-11-21 14:18] berinhard commented on #38
Sure @giovana-morais! Feel free to tackle this one and thanks for your help :+1:

[2019-11-23 14:25] giovana-morais commented on #38
hey @berinhard and @anapaulagomes !
I've just added black to our `pre-commit` file, tested it and some files were reformatted. :rocket:

now I'm trying to add it to Travis as well, but I never did this before and I'm kinda lost... should I add it to `.travis.yml` file? if so, where should I place it?

also, I thought about creating a `CONTRIBUITING` file or a section like that in the `README`, so

[2019-11-23 14:35] anapaulagomes commented on #38
That's great, @giovana-morais! Yes, you should add this command to the section `script` (https://github.com/model-bakers/model_bakery/blob/master/.travis.yml).

The contribution guide is a great idea but I think we already have one in place in our docs: https://model-bakery.readthedocs.io/en/latest/#contributing-to-model-bakery. It may need to be updated though... 🤔 About this issue specifically,

[2019-11-23 17:36] giovana-morais commented on #38
Done! I added it before tox checks and now I'm running Travis CI in my branch to see if everything is okay in the build. I'm not sure if it's the best way to do so, but anyways. ahahah

I'm only having some trouble now because after black reformatted the source files, flake8 and pydocstyle are failing. Did this happen before? I can't commit the formatted files because of this. Sorry to bother D:

[2019-11-24 21:42] anapaulagomes commented on #38
No worries, I think you're in the right path. :)

So, I've checked and seems that `flake8` is failing on our `tests` module at least. Would you be kind to fix the issues there? About `pydocstyle`, I'd say to skip it this time - only because to solve it we'd have to add comments to many public methods. You can skip it using `SKIP=pydocstyle` before your `git commit` command (like `SKIP=pydocstyle g

[2019-11-26 09:15] anapaulagomes commented on #38
Ok, now (thanks to @amureki) we have separated job for flake8 (https://github.com/model-bakers/model_bakery/pull/40). You can use the same structure for black, @giovana-morais. 😬

[2019-11-26 13:15] berinhard commented on #38
Thanks @anapaulagomes for helping with this! I was traveling for the last few days with my family and I only got back to work today. Thanks @giovana-morais for all the effort as well!

[2019-11-26 15:06] giovana-morais commented on #38
Awesome! I've learned a lot so far. :blush:

A few days ago, I've added `black` to `tox.ini` file and I tried to do `tox -e black`. It seemed to work fine.  Also skipping `pydocstyle` helped me debug a lot.  :+1:

Right now I'm trying to correct the `tests/` files in some way that both `black` and `flake8` will pass the test, because apparently they are conflicting (when one succeeds, the other on

[2019-12-05 08:55] amureki opened #45 "Django 3.0 support"
[Django 3.0 released](https://www.djangoproject.com/weblog/2019/dec/02/django-3-released/), and we need to add support (or just confirm that everything works) for it.

The work here can be started by adding Django 3.0 version to our `tox.ini` file here:
https://github.com/model-bakers/model_bakery/blob/master/tox.ini similarly to other Django versions.
Then by opening a PR you will see if there ar

[2019-12-05 10:40] anapaulagomes commented on #38
Done #42. :heavy_check_mark:

[2019-12-05 10:40] #38 closed

[2019-12-06 14:30] vmesel commented on #45
hey @amureki, how r u doin?

I'm building an app in Django 3.0.0 with model_bakery and model objects created on production database. Is this an issue with Django 3.0.0 or in Model Bakery?

[code]

[code]

[2019-12-06 14:39] berinhard commented on #45
@vmesel as I said on Twitter, is highly improbable that bakery is somehow invading your prod database from the tests. It completely relies on Django's `save` and `create` model to write data in the database, so probably the issue is with the `DATABASES` settings configuration you're using in your tests.

My suggestion is for you to add the following lines to your `setUp` method to confirm you're u

[2019-12-06 14:41] berinhard commented on #45
Also, I recommend you to use [dj-database-url](https://pypi.org/project/dj-database-url/) to manage this kind of configuration.

[2019-12-06 14:52] berinhard opened #47 "Change docs files from reStructuredText to Markdown"
All the files under [`docs/source/`](https://github.com/model-bakers/model_bakery/tree/master/docs/source) are `.rst` files, which is the default format used by Sphinx. Although this is fine, it can be little bit annoying to work with this format when compared to Markdown for example.

## Expected behavior

After #44, it would be nice to have a better integrity when it comes to file formats in the

[2019-12-06 14:56] berinhard commented on #45
@amureki we should also add Python 3.8 with Django 3.0.0 in our tox too.

[2019-12-06 15:54] walison17 commented on #45
@vmesel you must use django's TestCase or TransactionTestCase to have this behavior

[2019-12-07 18:17] vmesel commented on #45
Hey Walison!

Thanks for solving my problem!
I'm sorry for generating some garbage on this thread that is not even related to your software.

Many thanks for the help!

[2019-12-09 16:20] syphar opened #49 "inconsistent behaviour between `gen_from_choices` and `gen_string` (and others)"
We're using model-bakery for our testing, and in relation with **recipes** we stumbled onto an inconsistency in the library. While `gen_from_choices` returns a callable that is then generates the random value when being called by `baker.make_recipe`, for example `gen_string` (and the others) directly return the random value.

## Expected behavior
With the example Recipe as written here, I would ex

[2019-12-09 17:38] amureki opened #50 "GitHub action (or other checker) to validate that CHANGELOG.md was updated"
Since we are following https://keepachangelog.com/en/1.0.0/ it would be nice to remind if PR is missing the changelog.

Something like this might work:

`.github/workflows/main.yml`:
[code]

`bin/check-changelog.sh`:
[code]

`Makefile`:
[code]

[2019-12-09 21:40] #45 closed

[2019-12-14 07:32] ChillarAnand commented on #29
_fill_optional is not filling the optional fields of a related model(foreign key, onetoone, etc). Shouldn't it populate them also?

    class Book(models.Model):
        name = models.CharField(max_length=100)
        author = models.ForeignKey(Author, on_delete=models.SET_NULL, null=True, blank=True)

    class Author(models.Model):
        name = models.CharField(max_length=100)
        address

[2019-12-16 15:25] berinhard commented on #29
I'm a +1 for that @ChillarAnand. Your comment is totally related to this issue, thanks for bringing it up.

[2019-12-17 00:40] liavkoren opened #51 "Generator not being used correctly when doing batch create"
Short summary.

Using `itertools.cycle` doesn't seem to be working correctly when passing a value for `_quantity` to `baker.make`.

## Expected behavior
I bake up a batch of instances.

## Actual behavior

[code]

### Versions

Python: 2.7.16
Django: 1.11.23
Model Bakery: 1.0.2

[2019-12-19 15:27] knyghty opened #52 "Allow string values for `foriegn_key` from other modules"
It would be nice if we could treat foreign keys like we would a recipe in `baker.make()`. Right now it seems like whatever foreign key you use has to be imported into that `baker_recipes.py` file.

## Expected behavior

It would be nice to be able to do something like:

[code]

It would be even nicer if this would handle things gracefully, if you had for example one recipe that creates an order ti

[2020-01-02 14:06] epicserve opened #53 "Rename explanation/rationale and migration notes"
Please add an explanation/rationale as to why it was renamed from model mommy to model bakery in the docs and provide some tips on how to migrate from model mommy to model bakery.

[2020-01-07 23:11] SmileyChris commented on #47
I'd argue against bike shed re-painting changes like this. Sphinx by default expects rst. Just live with that default, like you do the choices that black makes for you.

[2020-01-09 10:59] ckrybus commented on #18
### My workaround using pytest

[code]

Directly importing in conftest.py doesn't work because of "Apps aren't loaded yet." exception, that's why I'm using a pytest hook here.

+1 for restoring the old settings approach (or lazy loading, etc.)

[2020-01-09 15:17] berinhard commented on #51
@liavkoren thanks for your report, but I don't think this is a real error. I added a few tests explicitly covering the user creation scenario you've described in my #55 PR to make it clearer.

This can somehow happen when you use model bakery in the `shell` command, which is not something I'd advise for.

[2020-01-09 15:25] berinhard commented on #53
@epicserve we did add the explanation in the [model-mommy docs](https://model-mommy.readthedocs.io/en/latest/index.html#model-mommy-smart-fixtures-for-better-tests) alongside with docs on [how to migrate](https://model-bakery.readthedocs.io/en/latest/migrating_from_mommy.html).

The reason for the rename is for us to not enforce gender stereotypes in technology. To learn and know more about the su

[2020-01-09 15:27] berinhard commented on #47
Thanks for your comment @SmileyChris, but we still want to have a single file format for our docs files, even though it differs from Sphinx's default. The reason is that, by our experience, we notice people are more familiar with Markdown format when compared to reStructuredText.

[2020-01-09 15:42] epicserve commented on #53
@berinhard, I do think it would be helpful to put links to that article and the migration notes on the first page somewhere.

[2020-01-09 15:55] berinhard commented on #53
AHHH got it @epicserve! My bad here! Thanks for explaining it.

The PR for the explanation is here #57. About the migration notes, I don't want to add to much info on that, since the link for the migrations instructions is already present in the sidebar and in the lower index.

[2020-01-11 18:38] #53 closed

[2020-01-11 18:39] amureki commented on #53
@epicserve thanks for your request and suggestions! Do you think, that work from @berinhard solves the issue?

[2020-01-11 19:22] epicserve commented on #53
@amureki works for me.

[2020-01-19 15:05] martinsvoboda commented on #18
There are are two more ways, where custom generators can be defined. Can you recommend what is better and mention it in the documentation? Then would be possible to close this issue without restoring the old approach.

### In AppConfig ready in apps.py

[code]

### In Custom DiscoveryRunner

[code]

[2020-01-20 15:20] berinhard commented on #18
Hi @martinsvoboda, thanks for your suggestion on other approaches to reach that!

Since the beginning of the lib, one of the golden rules we had was to don't write `model_bakery` API in a way it requires updates in any production code. This is why, for example, we don't have to add `model_bakery` to our installed apps to use it with Django. In my vision, the `AppConfig` approach breaks this rule b

[2020-01-20 16:23] #51 closed

[2020-01-21 16:46] #22 closed

[2020-01-22 14:30] #18 closed

[2020-01-22 15:24] berinhard commented on #18
Hi everyone! I'm happy to announce we've fixed this bug and release a new version in PyPi: https://pypi.org/project/model-bakery/1.1.0/

[2020-01-27 17:00] amureki opened #61 "Default `MAX_INT` for integer/float/interval generator"
We introduced an increased `MAX_INT` value in recent work: #59

I am not yet sure if this brings any unnecessary overhead to testing systems that are using `model_bakery`. What I definitely noticed - I had to adapt in several systems code that uses generators, where to be able to still use `gen_integer()` and `gen_float()` we need to reimplement those by using identical code (but with different co

[2020-01-27 17:25] berinhard commented on #61
@amureki one thing I miss on model bakery is a way to properly get stuff from the `settings` file. I think a few of my regrets with the code base come from this. Maybe it's a time for us to enable that. So, what do you think about this.

We could use a single dict in the settings file to configure the lib. If no dict is present, we can default to the old values of `max_int` and `min_int`. Somethin

[2020-01-27 18:25] berinhard commented on #23
@anapaulagomes and @amureki what are your thoughts on this?

[2020-01-27 18:42] berinhard commented on #25
Hey @amureki and @anapaulagomes I'd like to hear your thoughts on this one too.

I loved the suggestion and I wasn't familiar with Factory Boy's API. I think we can add this not only to our Recipes but also to `baker.make` and `baker.prepare` as well. Do you have any API suggestion?

[2020-01-28 08:58] amureki commented on #61
@berinhard if you have more use cases in the code that could benefit from dedicated user configuration, then _I would be totally up for it_!

I do not yet have a strong opinion on _using single dict vs multiple constants_ like:

[code]

I think, we might want _to dig into some best practices_ or top used packages for inspiration. I think, one argument against dict with stringed values would be cod

[2020-01-28 10:58] AdrianLC commented on #61
I really do not think this reproduction steps reveal an issue on bakery. I requested changing the behaviour precisely because of this. If you are providing a generator for one of your fields that is not the automatic one your tests should not rely on the fact that internally bakery had a low default for integers.

+1 to making it configurable but I would keep the default limit high. Honestly it sh

[2020-01-31 12:34] amureki commented on #23
In my opinion, since it is internal Django functionality that was made for certain purpose (like for `created/modified` fields) we should not mess around it.

To be more specific:
See docs: https://docs.djangoproject.com/en/3.0/ref/models/fields/#datefield
There is even a next statement:

So I would be in for being explicit and consistent behavior, so there would be no difference between using thi

[2020-01-31 17:26] anapaulagomes commented on #23
Makes sense, @amureki. Of course, we can always add this as a note in the docs but, as you said, `model_bakery` must have the same behavior as Django.

[2020-02-02 18:37] last-partizan opened #63 "After update to 1.1.0 decimal fields is broken"
After updating to 1.1.0 tests using models with decimal fields os broken with following trace:

[code]

## Reproduction Steps

create model like this

[code]

### Versions

Python: 3.6
Django: 2.0
Model Bakery: 1.1.0

[2020-02-07 16:43] benwhalley opened #64 "Allow dependencies between fields in recipes"
This isn't a bug, more a feature request or query:

Is it possible to have fields within recipes depend on one another. To take a silly example, lets say we want to create a new user:

[code]

In this case it would be nice for the username field to be a callable which returns `f"{first_name}{last_name}"`. This could be put into a save method on `Staff`, but we might not always want this to work th

[2020-02-12 22:13] abbottc opened #65 "Use bulk_create when supplying _quantity parameter to baker.make"
I noticed that when using the `_quantity` parameter with `baker.make`, each model instance is added to the database individually (see this line: https://github.com/model-bakers/model_bakery/blob/master/model_bakery/baker.py#L356).

Would it be reasonable to use django's `bulk_create` manager method to create them all in one database query in that situation? The difference in efficiency could be si

[2020-02-20 19:03] lanshark opened #66 "How does model_bakery handle computed properties?"
Short summary.

Can/Does model_bakery handle computed properties?

## Expected behavior

A model with computed properties is created, and calling that model to retrieve the computed property value returns the calculated data.

What you expected.

IF I have a model named "Exam" and it has a computed property (@property) 'status', which calculates a status based on values from another table, it shou

[2020-02-27 20:04] berinhard commented on #66
That's very odd... Bakery does not overwrite any kind of data besides the model's attributes. Can you help us with more data on that? Can you paste your model class definition + how you're using bakery + the traceback with the error?

[2020-02-27 20:06] berinhard commented on #65
Hm, I don't think we can do that because of how other bakery's feature works, such as the value definition by field lookup.

Although it would improve the tests performance, I honestly not sure if bakery's code is flexible enough for such a change. I'd love to have some help on that as well.

[2020-02-27 20:11] berinhard commented on #64
Thanks for your suggestion. Did you had time to take a look on #25. I really think this recipe post creation feature would enable you from forcing dependencies between fields in recipes. I'm closing this issue because we're already discussing this topic over there.

I'd love to hear some API suggestion from you there as well, @benwhalley

[2020-02-27 20:19] berinhard commented on #23
Thanks for the thoughtful explanation @amureki! Sorry for taking to long to read it, but I was changing jobs during these last 2 months and I had to stay a little bit away from the project.

I agree with both strategies, the warning one and also improving our docs to leave this question more explicit. But I think the warning should only be raised if:

The field has `auto_now` or `auto_now_add` ena

[2020-02-27 20:20] berinhard commented on #63
Thanks for the catch!!! @anapaulagomes this is something we can pair on next week.

[2020-02-28 16:23] amureki commented on #23
Hey Bernardo, no worries! I am also quite overwhelmed and was not very active here.

So, I'd be happy about the documentation warning about signals and this behaviour.
We could add an extra check for `auto_now` or `auto_now_add` also. This brings (in my opinion) a small inconsistency (if I see the lib is covering some signals and throws a warning, I'd expect it to cover all of them - but this is s

[2020-02-29 15:11] lanshark commented on #66
Turns out it was something very stupid I was doing.

[2020-02-29 15:11] #66 closed

[2020-03-03 21:49] #15 closed

[2020-03-05 19:15] berinhard opened #68 "Set up Github Sponsors for model-bakers organization"
This issue comes from #34. We have to enable this so we can merge the PR.

[2020-03-05 20:22] anapaulagomes commented on #63
Hi, @last-partizan. It seems that you're trying to add a decimal value with 10 digits in a field in which the maximum is 7 digits (`value = Decimal('47109723.57')`). Django includes the decimal values as part of the maximum digits. See the [docs](https://docs.djangoproject.com/en/2.0/ref/models/fields/#django.db.models.DecimalField.decimal_places):

[code]

I've tested it locally, adapting the mod

[2020-03-06 07:26] last-partizan commented on #63
@anapaulagomes

You were right, that's my fault :)

https://github.com/model-bakers/model_bakery/commit/a73a9747b8a16b72c45414a75bf833fd4779eefc

This commit introduced greater limits for int, and my failing decimal field was autopopulated by my code depending on the int field.

[2020-03-06 07:26] #63 closed

[2020-03-06 07:29] anapaulagomes commented on #63
No worries, @last-partizan. :)

[2020-04-28 21:29] ekauffmann commented on #61
I am having issues with these changes too.

I am facing exactly the same problem, which surprisingly was warned and described in model mommy comments for `MAX_INT` constant.
https://github.com/berinhard/model_mommy/blob/development/model_mommy/random_gen.py#L22

What @AdrianLC says is in part true, but there is a point in which I really do not want to test the max value that postgres supports for

[2020-04-29 04:08] elcolie opened #70 "DecimalRangeField support requested"
TypeError: <class 'django.contrib.postgres.fields.ranges.DecimalRangeField'> is not supported by baker.

## Expected behavior
Be able to get `instance`

What you expected.
`instance` is created

## Actual behavior
TypeError: <class 'django.contrib.postgres.fields.ranges.DecimalRangeField'> is not supported by baker.

## Reproduction Steps
1. `from django.contrib.postgres.fields import DecimalRange

[2020-05-02 11:52] binaryronin opened #71 "Inconsistent data across tests"
I'm running into a weird issue where the data produced does not seem consistent when testing. I have a fairly simple setup for the Recipes where a date value moves one week forward with each iteration. In one test this works as expected, in two others it does not.

## Expected behavior

I expect the values to be the same across tests.

## Actual behavior

When running the debugger I can see that f

[2020-05-26 10:32] andr0s opened #72 "Naming, gender stereotypes etc."
The good old "model mommy" has been abandoned and changed name to "model bakery" in attempt to "not reinforce gender stereotypes for women in technology" (sic).

But the documentation starts with an example of a Kid model. So I assume the logic behind the naming was that there can be a mother that gives birth to a child.

This is biologically proven that human males can not give birth so this is j

[2020-05-26 15:12] berinhard commented on #72
Hi @andr0s, thanks for your comment. I'd like to reply to your questions making sure that my answers reflect only **my personal opinions** and they don't say anything about the other projects maintainers points of view.

    How does the renaming of the project help to fight gender stereotypes in tech?

I think that just the existence of this issue is an example of how it can help. This whole disc

[2020-05-26 15:12] #72 closed

[2020-05-26 18:03] andr0s commented on #72
@berinhard thank you for the reply. The funny thing is that I actually was going to make a fix for what looked like a bug to me. Or at least check if it was fixed lately or if there's any opened issues. So I just went right to the model mommy repo and found that it was shut down.
My GF is a developer and feminist and that whole situation was an interesting case for us both to discuss. And while we

[2020-05-26 18:15] berinhard commented on #72
Although the issue creator deleted the issue description and changed the title, I've changed it back to the original so, if people want to discuss about this in the future, we can link to this discussion.

[2020-05-26 18:54] berinhard opened #73 "More information about the model mommy rename"
Today, an user who I'll remain anonymous, created an issue tittle **Naming, gender stereotypes etc** where he brought up a few questions about the project lib rename from model_mommy to model_bakery.

After my comment, the person asked me to deleted the issue because he thought he had expressed his thoughts in a bad manner which could lead people to think he was against the fighting inequality. Si

[2020-05-26 18:56] berinhard commented on #73
This issue was created only to document this discussion without exposing people. So I'm closing it.

[2020-05-26 18:56] #73 closed

[2020-06-02 13:14] mazulo opened #74 "baker.make only creates value for username on Django's User model"
Short summary.
I'm not sure if I'm missing something, and please let me know if I am, but whenever I create a user with `baker.make` it creates a user but only `username` has value in it. I'd expect `.make` to generate values for the other fields it supports, like `EmailField`.

## Expected behavior

`baker.make(User)` would create random values for all fields it supports, including `EmailField`.

[2020-06-04 13:35] radwon opened #75 "Enable seq to be imported from baker"
I think it would be useful to also enable the seq() function to be imported from the baker module like it is in the recipe module so that it can be used as baker.seq() if preferred or to avoid namespace issues.

The current import can be left in place for backwards compatibility or to continue importing seq as before.

[2020-06-13 09:41] amureki commented on #74
Greetings @mazulo !
Thanks for posting the issue here and sorry for the late reply!

By default, [model_bakery will skip fields with `null=True` or `blank=True` set](https://model-bakery.readthedocs.io/en/latest/how_bakery_behaves.html). And if we are talking about `django.contrib.auth.models.User` - email field is defined with `blank=True` there.

However, I have a couple of suggestions here for

[2020-06-13 18:00] berinhard commented on #74
Hey @mazulo thanks for opening this and @amureki for helping us out =)

But, actually, there's an even better approach to populate non-required fields with the `_fill_optional` parameter. You have 2 possible ways to use it:

[code]

The first one will populate **all** optional fields, meanwhile the second only the `email` one.

I now realized that we don't cover the `_fill_optional` kwarg in our d

[2020-06-13 18:03] berinhard opened #79 "Add documentation to _fill_optional kwargs"
In issue #74, we realized we're missing documentation on the `_fill_optional` kwarg. It's enabled in every baker api method (`make', `prepare`, `make_recipe`, `prepare_recipe`) and is used to force values for optiional fields.

## Expected behavior

Docs covering the 2 possible usages (populate all fields VS populate specific fields) as described [in this comment](https://github.com/model-bakers/m

[2020-06-13 18:03] berinhard commented on #74
I've specifically addressed the docs issue on #79, so I'm closing this one, ok?

[2020-06-13 18:03] #74 closed

[2020-06-13 19:39] berinhard opened #81 "Support postgres date range fields"
Currently model bakery does not support postgres' range fields [DateRangeField](https://docs.djangoproject.com/en/3.0/ref/contrib/postgres/fields/#daterangefield) and [DatetimeRangeField](https://docs.djangoproject.com/en/3.0/ref/contrib/postgres/fields/#datetimerangefield).

In #80 I've added support to the numeric range fields, but the date/datetime ones are still missing.

## Expected behavior

[2020-06-14 15:10] #75 closed

[2020-06-16 11:07] mazulo commented on #74
That makes a lot of sense. Thank you folks @amureki and @berinhard for the explanation and the hard work on this awesome lib!

[2020-06-16 17:57] formacube opened #82 "seq and cycle not working correctly with _quantity parameter when generating foreign_key?"
Hi,
when executing the folowing:
[code]
I would expect:
20 Puzzles to be generated, each linked to a different PuzzlePieces named pieces_1, pieces_2 ...

instead , 20 Puzzles are created, each linked to the same PuzzlePieces named pieces_1

similarly:

[code]

I would expect:
20 Puzzles to be generated, each linked to a different PuzzlePieces named a,b ...

instead , 20 Puzzles are created, each l

[2020-06-20 05:07] jayvdb opened #83 "Support for form fields"
Currently model-bakery seems to mostly support db fields.

Would it be ok to also add support for form fields, specifically ChoiceField?

The use case is explained at https://github.com/alsur/django-admin-auto-tests/issues/6, which is using model bakery (c.f. https://github.com/alsur/django-admin-auto-tests/pull/4) to populate admin forms for smoke tests.

[2020-06-23 13:55] berinhard commented on #83
Hi @jayvdb, thanks for opening the issue.

Unfortunately the model bakery's main goal is to work as an easier way to populate your database with test fixtures than [Django's fixtures](https://docs.djangoproject.com/en/3.0/howto/initial-data/). That's why we don't support form fields at all.

In my personal understanding about testing on Django, you shouldn't use tools to generate data to test your

[2020-06-23 13:55] #83 closed

[2020-07-21 18:52] #70 closed

[2020-07-21 18:52] #81 closed

[2020-07-23 05:19] cnarain opened #91 "Support for choices parameter in TextField"
Short summary.

## Expected behavior

If the `choices` argument is specified on a TextField, Model Bakery should pick from a random valid choice for the field.

## Actual behavior

Model Bakery skips TextFields with `choices` resulting a database IntegrityError:

`django.db.utils.IntegrityError: null value in column "status" violates not-null constraint`

## Reproduction Steps

How to reproduce th

[2020-07-23 05:22] #91 closed

[2020-07-23 16:55] diego-capyba opened #93 "Use seq with suffix str"
Is there anyway I can use `seq` to generate a string with some kind of suffix?

For example, I would like to generate emails as such:

_user1@test.com_, _user2@test.com_, ...

Is this possible somehow?

[2020-07-27 23:52] rhenanbartels opened #94 "Create related object in the same database defined with _save_kwargs={"using":...}"
Hi everybody,
  when using the argument `_save_kwargs` passing the target database with `using`,  the related field is created with the
  `default` database instead:

[code]
In this example, the `Book` instance is created using the `ANOTHER_DB` settings, while the `Person` is created with the `default`.

I would expect that the `Person` instance would be also created using the target database set

[2020-07-28 16:44] berinhard commented on #94
Thnks is an error indeed! Me and @rhenanbartels were pairing on a project's tests with multiple databases. The way we find able to use it was to individually creating our object's dependencies also populating the `_save_kwargs` parameter.

[2020-08-05 17:22] berinhard commented on #93
Unfortunately this is not possible yet but could be a nice thing to have =)

[2020-08-17 20:33] prokoptsev opened #97 "Can't extend receipt through reverse name of OneToOne field."
This is available for ``foreign_key`` fields and reverse many2many fields(``related``), but I haven't found (maybe badly searched) how to do it for backward one-to-one field access. I mean that:

[code]

### Versions

Python: 3.8.3
Django: 3.0.8
Model Bakery: 1.1.1

[2020-09-01 10:24] palfrey opened #98 "Add typing support"
Running mypy against a project using model_bakery gets me "Skipping analyzing 'model_bakery': found module but no type hints or library stubs". https://mypy.readthedocs.io/en/stable/installed_packages.html#making-pep-561-compatible-packages has a guide on how type information can get added to packages.

### Versions

Python: 3.7.7
Django: 3.0.7
Model Bakery: 1.1.1

[2020-09-02 15:03] majorgilles opened #99 "Using "related" to map model_set to recipe creates duplicate entries in the db"
'related' keyword doesn't seem to function properly: 2 model instances are persisted in the db, the first one bypassing the recipe (completely random), the other respecting the recipe.

## Expected behavior

only 1 model instance should be persisted in the db.

## Actual behavior

first created model instance does not apply anything from the recipe (random).
second created model instance correctly

[2020-09-04 15:37] bd opened #104 "Unexpected Object Creation"
Short summary.
I'm creating an object via `baker.make` in the `setUp` method of a unit test, and while the object itself seems to be created correctly, there is apparently a second, unexpected object seemingly being created, too.

## Expected behavior
A model with a foreign key to the existing object to be created.

## Actual behavior

The model with the correct relationship was created; however,

[2020-09-10 23:49] berinhard commented on #97
Thanks for opening this issue @prokoptsev! I'll try to reproduce the error within an unit test and, if it breaks, we can work on top of it :+1:

[2020-09-11 01:36] berinhard commented on #99
Thanks for opening this issue @majorgilles! I agree with you that this behavior is confusing and somehow misleading. That would be a great fix in model-bakery :+1:

[2020-09-11 01:42] berinhard commented on #104
Thanks for opening this issue @bd. My initial guess on this error is that something is going wrong with model-bakery when it handles a `BigIntegerField` as a `primary_key`.

If I'm not asking to much, can update your `setUp` implementation to print the 2 tentants IDs to check if they're the same? Something like:

[code]

Anyway, I'll also try to reproduce this bug in an unit test and try to work o

[2020-09-11 12:40] palfrey commented on #82
I think this is because the field value gets set to the value of the object generator (i.e. `baker.make`) for the foreign key the first time it's retrieved. Callables, however, seem to work properly! So for your case, you can do something like

[code]

and then replace `foreign_key(fake_puzzle_piece)` with `make_fake_puzzle_piece`

[2020-09-11 19:03] berinhard opened #105 "Rename "master" branch to "main""
This topic was a hot one recently and that's great! Given the motivations to our last rename from `mommy` to `bakery`, it makes total sense to do the same with the main git branch to not reinforce oppressive language. Links and more information about this:

- [Terminology, Power and Oppressive Language](https://tools.ietf.org/id/draft-knodel-terminology-00.html#rfc.section.1.1);
- Minor [HOWTO gui

[2020-09-14 13:07] bd commented on #104
The two tenant ids are not the same.

[2020-09-27 18:38] berinhard opened #107 "Make it easier to run unit tests againts Postgres and Postgis"
Currently our [CONTRIBUTING.md](https://github.com/model-bakers/model_bakery/blob/master/CONTRIBUTING.md) only covers the simplest test scenarios using SQLite and skips postgres' specific unit tests. Although we do have them being executed in our CI, it's complicated to set up the local environment to do so without proper instructions.

## Expected behavior

Update [CONTRIBUTING.md](https://github

[2020-09-28 19:18] palfrey opened #108 "Refactor the type hinting to use .pyi"
#100 added type hinting, but as inline types, not .pyi files. This issue covers redoing this as .pyi files instead.

[2020-10-01 13:11] mazulo commented on #107
I did something quite similar (setting up a django template which runs both docker/non-docker environments) with tests. Next week i will be on vacation so I will also have plenty of free time to work on this :smile:

[2020-10-01 14:46] scythargon opened #109 "Support for factories?"
Hi guys and thank you for your awesome libraries!
Can you please tell me how do I use some factories with mommy/bakery? Even in the example in your readme the db.string field gets populated with just random `sldjfsdfudhsdfkjnlk`, same happens to all the name and address fields, I would love to automate my usage of `Faker.name()` and `Faker.address()` fields. Any ideas how to approach this better?

[2020-10-01 15:07] berinhard commented on #109
Hi @scythargon, thank you.

Did you have the opportunity to take a look at our [Recipes API](https://model-bakery.readthedocs.io/en/latest/recipes.html)? You can define factories, which we call recipes because, you know, we're a bakery =)

To do so, you just have to create a file name `baker_recipes.py` (app level or under your `tests` directory) such as:

[code]

And in your test file:

[code]

[2020-10-02 17:55] jsoa commented on #79
@berinhard isn't this covered in https://model-bakery.readthedocs.io/en/latest/how_bakery_behaves.html#how-model-bakery-behaves

I wouldn't mind adding to the docs if you were expecting more than what is written.

[2020-10-02 17:58] berinhard commented on #79
Thanks for the catch @jsoa! This was already solved =)

[2020-10-02 17:58] #79 closed

[2020-10-02 18:08] timjklein36 commented on #104
For what it is worth, I could not reproduce this problem on a fresh Django project with the minimal setup provided here.

`models.py`
[code]

`tests.py`
[code]

Test Output:
[code]

Versions:

[code]

[2020-10-02 18:59] berinhard commented on #104
Same thing here @timjklein36. Closing this issue because 2 people couldn't reproduce the error using the code from the description.

@bd if you have any feedback about that or any tip on how we can reproduce the bug, feel free to re-open this issue with the new  code.

[2020-10-02 18:59] #104 closed

[2020-10-05 15:54] #98 closed

[2020-10-06 14:39] #93 closed

[2020-10-08 12:20] pakal opened #116 "Support callables as default values in django model fields"
When using django-model-utils TimeStampedModel subclass, which uses default=now callables in "created" and "modified" fields, generation of model instances (with _fill_optional=True) via baker fails:

[code]

This is probably because bakery uses the default value as is, instead of calling it (when relevant) to get the actual default value.

### Versions

Python: 3.7.9
Django: 3.1.2
Model Bakery: 1

[2020-10-09 22:30] timjklein36 commented on #116
I was able to reproduce this issue with the following setup:

**Versions**

[code]

**`models.py`**
[code]

**`tests.py`**
[code]

Here, `baker.make` works for `SimpleDummy` but fails for `Dummy` (the model extending `TimeStampedModel`).

The issue here is that `model_bakery.generators` has no default generator for the class of the field `created` on `TimeStampedModel` because it extends `models.D

[2020-10-13 15:35] #105 closed

[2020-10-13 15:49] berinhard commented on #116
Fixed by #117

[2020-10-13 15:49] #116 closed

[2020-10-13 16:38] #107 closed

[2020-10-13 17:24] pakal commented on #116
Awesome, thanks !

[2020-10-13 20:56] timjklein36 commented on #99
@majorgilles Can you provide the exact Django model definitions you are using here in your examples (i.e. `Equipment`, `Tires`, `Vehicle`)? I am interested to see the exact relationships between them.

[2020-10-14 00:47] timjklein36 commented on #24
It looks like the model in question here (`QuestSubmission`) has the `quest` FK field marked as `null`, which is why that one field in particular is not getting a value created (and therefore not persisted). This is expected behavior.

[2020-10-14 07:46] anapaulagomes commented on #50
Done in https://github.com/model-bakers/model_bakery/pull/96

[2020-10-14 07:46] #50 closed

[2020-10-14 15:30] majorgilles commented on #99
@timjklein36 I have no problem sending you this information, but not passing it publicly on github.
Is there an email address you would want me to send it to you?

[2020-10-14 16:14] berinhard commented on #99
@majorgilles can't you simplify your model to remove any kind of business logic and just display the relationships between them instead?

[2020-10-14 21:29] majorgilles commented on #99
[code]

[2020-10-14 23:03] timjklein36 commented on #99
In looking at your model relationships, I can see the same problem that I have faced before with `model_bakery`:

- when making an instance of a model that has a `ForeignKey` relationship to another model, there will always be a new related instance created, unless one is provided to the recipe (or baker) explicitly

This is simply how `model_bakery` works right now. Before making any of the `non_

[2020-10-15 09:14] b0g3r commented on #23
In my case this little feature with explicit overriding fields with `auto_now_add` will be very helpful in tests.

E.g. test which checks that custom filter by date (`created recently`) works as expected: I created a few instances of a model with different `created_at` and run filtering against it. Using `freezgun` is painful in the case when you need to create many models with different values at

[2020-10-19 12:19] berinhard commented on #99
Thanks @timjklein36 for helping with your precise comment! It really describes well how model bakery behaves.

One thing to notice is that one of model bakery's goals is to make the least amount of assumptions as possible about the object it's creating. That was designed initially to don't by-pass Django's internals for databases such as signaling and, as in this case, the DB's tree of dependencie

[2020-10-27 16:31] formacube opened #123 "Use of itertools.count to generate record ids in Recipe"
Hi,

`itertools.count` does not seem to be working in recipe or in a direct make statement

when I declare:
[code]

or
`fake_play = Recipe(Play, puzzle_id=it.count(start=1))`

I expected puzzle_id to take incremental values 1,2,3, ... 7

Instead, I receive an error message:

I have tried different things but I don't really see what is happening as `itertools.cycle` is working well.

There seem to

[2020-10-27 16:58] berinhard commented on #123
Hi @formacube, thanks for your issue. Did you tried [to use sequences](https://github.com/model-bakers/model_bakery/blob/main/model_bakery/utils.py#L24) instead? You can use it as:

[code]

This is the correct way to bakery's recipes with iterables.

[2020-10-27 17:06] formacube commented on #123
you are right !
I lost more than one hour for nothing.

I only used `seq `so far as part of a string.
I didn't realized it could also be used for other variable types.

Thanks a lot Berinhard

[2020-10-27 17:20] berinhard commented on #123
You're welcome! I'm glad model bakery is being useful for you =)

[2020-10-27 17:24] formacube commented on #123
model bakery is extremely useful !

for the record: `from model_bakery.recipe`

however, I receive now the following error when using seq:

My goal is to fill-in the id number corresponding to a foreign key:

`class Play(models.Model):
    puzzle = models.ForeignKey(
        Puzzle, on_delete=models.CASCADE, related_name='plays')`

Have you ever performed that ?
Is it working for you ?
or how shou

[2020-10-28 09:59] GitRon opened #124 "Wrong typehinting in Recipe init"
The typehinting in the init method of `Recipe` is wrong. It states that `_model` is supposed to be str - but it can be an instance of django model as well.

## Expected behavior

[code]

## Actual behavior

[code]

## Reproduction Steps

PyCharm will always show an error if I pass a model class to the Recipe. That is quite annoying and misleading.

### Versions

Python: 3.8
Django: 3.1.2
Model Bak

[2020-10-29 12:45] palfrey commented on #124
I think this is fixed in https://github.com/model-bakers/model_bakery/pull/115 (which isn't released yet)

[2020-10-29 12:47] GitRon commented on #124
Would be awesome! Any idea when the release is going to happen?

[2020-10-29 13:02] palfrey opened #125 "Generators have no access to the field they're generating for"
I've got a custom field where it has some additional information in the field that says what sort of value it should store (it's basically just a custom enum really in my case TBH, but with some odd bits in there). Ideally, custom generators should be given a reference to the field it's generating for so generators can optionally make decisions based on that information.

### Versions

Python: 3.7

[2020-10-29 13:55] formacube commented on #123
Hi Bernardo,

By applying your proposition, I found out it is not working.
I defined my question a bit better, but as I'm not able to re-open the issue, I'm not sure you are alerted.

[2020-10-29 14:34] palfrey commented on #125
Ah! I've been able to fix this by setting the `required` field on my generator function.

[2020-10-29 14:34] #125 closed

[2020-10-29 16:14] berinhard commented on #123
@formacube I'm preparing myself for Brazil's PyCon (we call it Python Brasil) which will begin next monday. Because of that I'm with a lot of stuff in my plate now, but as soon as things calm down I'll revisit this issue. Probably this will happen during python brasil's sprints days.

[2020-10-29 16:15] berinhard commented on #123
Anyway, I reopened this issue so I won't forget to read it again =)

[2020-10-29 17:03] formacube commented on #123
Thanks a lot, and have a nice event

[2020-11-02 17:47] formacube commented on #82
Trying to apply the logic, I tried to define the following recipies:
[code]

But when trying to generate the puzzles:
[code]

I am still ending up with all the puzzles created linked to the same PuzzlePieces created with the first `pieces` element

After many many many attempts, I finally found a way to get it working:

[code]
So `pieces_generator` should have the `()`

while `make_puzzle_piece `s

[2020-11-08 14:24] berinhard commented on #124
Hi @GitRon! I'll release a new version today =)

[2020-11-08 14:27] #52 closed

[2020-11-08 14:28] berinhard commented on #99
losing this issue du

[2020-11-08 14:28] #99 closed

[2020-11-08 14:52] berinhard commented on #68
Update on that: Brazil is not yet supported by Github's sponsors =(

[2020-11-08 15:03] berinhard commented on #71
Hi @binaryronin, thanks for opening this issue.

Unfortunately I think the tests are breaking due to an error in your project's code. I added a [unit test](https://github.com/model-bakers/model_bakery/commit/7b36fe8adea81fcc80705d96bcb0789eabf791bd) to explicitly validate that `seq` with time-like objects works fine and it passed without any change in the code base. So, I'm closing this issue beca

[2020-11-08 15:03] #71 closed

[2020-11-12 13:34] anapaulagomes commented on #68
We still can receive as an organization based in Germany :) and a few organizations offer tax support (like NumPy organization if I'm not mistaken).

[2020-11-12 14:06] GitRon commented on #124
@berinhard Did you? 😅

[2020-11-12 16:55] berinhard commented on #68
Hm, I'm good with that! Do you have a valid bank to set up Github Sponsors?

[2020-11-12 17:22] #94 closed

[2020-11-12 17:34] berinhard commented on #124
Yep! I was waiting for PR #126 to be merged. `1.2.1` is now live on pypi:

https://pypi.org/project/model-bakery/1.2.1/

[2020-11-13 07:32] GitRon commented on #124
Awesome! But my PyCharm is still complaining. I think

`_model: Union[str, Type[ModelBase]]`

should be

`_model: Union[str, Type[Model]]`

What do you think @berinhard ?

Best
Ronny

[2020-11-13 13:51] GitRon commented on #124
@berinhard I create a PR to tackle the issue.

[2020-11-16 12:39] berinhard commented on #124
Thanks @GitRon! I added a comment in the PR

[2020-11-16 14:02] GitRon commented on #124
@berinhard Awesome! I pushed a change on the changelog. Hope the pipeline will succeed 😅

[2020-11-24 00:30] lassandroan opened #129 "Filling m2m relations with an iterator"
We ran into an issue where we wanted to create a number of objects (e.g. "statuses") and fulfill their many-to-many fields (e.g. "providers") using an iterator.

Given short example models:

[code]

...we then tried to create some providers _and_ statuses, mapping each provider to each status. We tried a few different approaches...

## Expected behavior

Each status has one provider in its list of

[2020-11-24 11:09] jedie opened #130 "required relation fields are not filled"
[code]
Creating the instance of Foo will not work, because the related model instance "Bar" will not have set the `required_field`

work-a-round: `instance = baker.make(Foo, bar__required_field='a-choice')`

I don't know if this is because of the choices?

### Versions

Python: 3.8
Django==2.2.17
model-bakery==1.2.1

[2020-11-24 12:54] anapaulagomes commented on #14
Done in #121.

[2020-11-24 12:54] #14 closed

[2020-11-24 13:11] jedie opened #131 "SlugField filled with non valid slug string"
A models.SlugField will be filled with random strings as a normal models.CharField, so it's nor valid slug value.

### Versions

Python: 3.8
Django==2.2.17
model-bakery==1.2.1

[2020-11-24 14:34] berinhard commented on #131
Hi @jedie thanksf or opening this issue.

Can you provide a real an example of a test breaking? I'm asking this because, by reading the existing code, that doesn't seem to be happening:

- [default mapping](https://github.com/model-bakers/model_bakery/blob/main/model_bakery/generators.py#L128) for SlugField;
- [gen_slug implementation](https://github.com/model-bakers/model_bakery/blob/main/model_b

[2020-11-24 14:38] jedie commented on #130
Ah! Found the Problem: the models.CharField has a default value, so baker has not set a value.
So i close this issues.

[2020-11-24 14:38] #130 closed

[2020-11-24 18:22] abbottc opened #132 "Multiple calls to prepare_recipe() within SimpleTestCase fails when recipe uses seq()"
It doesn't seem possible to create multiple model instances using separate calls to `prepare_recipe()` within a `SimpleTestCase` if the recipe uses `seq()`. This triggers a database call to `m.objects.count()` in https://github.com/model-bakers/model_bakery/blob/main/model_bakery/recipe.py#L37 which is disallowed inside a `SimpleTestCase`.

I didn't find this issue documented anywhere, although I

[2020-11-25 13:49] jedie commented on #131
I have check this and ran into the error. Maybe it's because this field is the primary key?

[2020-11-25 14:05] jedie commented on #131
Oh, sorry: This is total nonsense and a mistake on my side.

The slug field was filled correctly. My own validation was wrong.

[2020-11-25 14:05] #131 closed

[2020-11-27 14:28] rhenanbartels opened #133 "Recipe with foreign_key creates another object in database"
Hi folks!  First of all, I would like to thank you all for the great work! This is a very helpful package and It saves a lot of time for creating fixtures for tests.

Recently I was using `Recipe`and `foreign_key` to create some tests and I noticed that even though I set the `foreign_key` to a Recipe object, model_bakery creates a new object for the relation in the Database. The following code sni

[2020-11-30 07:56] GitRon commented on #124
@berinhard Any chance that my fix will be pushed to pypi soon? ❤️

[2020-11-30 13:31] #64 closed

[2020-11-30 13:33] berinhard commented on #124
@GitRon I don't think that I'll do that in the next days, sorry =S

If this is a deal breaker for you, I highly recommend you to install the project using the `main` branch in Github. I'm saying that because I'm planning to implement at least one of the following issues before a new release:

#25
#26
#65
#97

[2020-11-30 13:34] GitRon commented on #124
Alright, if you have a plan, I can live with that. You are the boss here 😉

[2020-11-30 13:35] #124 closed

[2020-11-30 14:47] timjklein36 commented on #65
It may not make sense to use `bulk_create` for all use cases. Consider the [caveats listed in the Django docs](https://docs.djangoproject.com/en/3.1/ref/models/querysets/#bulk-create). Mainly:

With that in mind, we could expose a second attribute related to `_quantity` called `_bulk` or `_bulk_create` which enables the suggested behavior.

[2020-11-30 15:34] berinhard commented on #65
Totally agree with you @timjklein36!

This fix shouldn't change bakery's default behavior of calling save, but enables it to use bulk create **if the caller wants too**. I'm a +1 from having a `_bulk_create` flag which defaults to `False` and, if flagged as `True` it would change bakery's internals to use `bulk_create` instead of calling `save` method. And, yep, this won't work with M2M relationsh

[2020-11-30 16:52] timjklein36 commented on #65
Working on a PR now that adds `_bulk_create` parameter to use `make` -> `prepare` many + `bulk_create` (instead of `make` -> `save` many) when supplied with `_quantity`.

[2020-12-04 20:53] #65 closed

[2020-12-08 13:53] cb109 opened #136 "[BUG] v1.2.1 breaks usage of baker.make(related_model__field=value)"
Specifying field values of related model instances within the `baker.make()` signature (e.g. `baker.make(my_related_model__field=value)` is not possible anymore with v1.2.1. This still works in v1.2.0.

## Expected behavior

The model instance AND its required related model instances should be created, populated with random defaults except the values we explicitly passed in the call.

## Actual be

[2020-12-08 14:17] cb109 commented on #136
Full pytest output:

[code]

[2020-12-08 14:40] berinhard commented on #136
Hi @cb109 thanks for opening this issue. I didn't have time to try to reproduce this and explore why this error is happening, but if you want to investigate here's a good starting point: the [1.2.1 changelog](https://github.com/model-bakers/model_bakery/blob/main/CHANGELOG.md#121) with the updates and links for the PRs.

[2020-12-08 15:43] cb109 commented on #136
Looking into it, the culprit is the `baker.Baker.generate_value()` method as changed via https://github.com/model-bakers/model_bakery/issues/116 / https://github.com/model-bakers/model_bakery/pull/117.

It changes the order of checks, checking for default first, and later for type_mapping. For my problem, swapping that order back to check type_mapping first and default afterwards solves my issue.

[2020-12-08 16:47] berinhard commented on #136
Thanks for the help @cb109! You've saved me a lot of investigation time =)

[2020-12-09 12:32] cb109 commented on #136
One more observation:

The problem in my case is that I'm using `tvspot = baker.make("TVSpot", category__name="My Category")` and the `TVSpot.name` field uses a default function that returns an ID, not an instance. See example model:

[code]

AFAIK it's what Django wants you to do:

https://docs.djangoproject.com/en/3.1/ref/models/fields/#django.db.models.Field.default

model_bakery used to tolera

[2020-12-09 13:13] berinhard commented on #136
Ok @cb109 now we got into the real problem! For me the initial description was very odd because I'm also using 1.2.1 in my Django projects with "field lookups" for related model and it was working fine.

Now it's even easier for me to create a unit test reproducing this scenario! Thanks for the help =)

If you wanna go ahead and give yourself a try, I advise you to:

1. Create a new regression mod

[2020-12-09 15:01] cb109 commented on #136
@berinhard Thanks for having a look at it. I gave it a first try, see https://github.com/model-bakers/model_bakery/pull/137 Reverted my failed fixing attempt, but was able to reproduce the issue as a test.

[2020-12-17 18:10] yigor commented on #136
I found issue that might be related:
If field has explicit `default`, `_fill_optional=True` now fills it with that default value:
[code]
then in test
[code]
It wasn't the case before 1.2.1.
If you remove `default=''`, the test passes.

[2020-12-30 01:31] Chiron1991 opened #138 "Trouble with django-money's MoneyField"
I'm having trouble getting `model_bakery` to work with `django-money`'s [`MoneyField`](https://github.com/django-money/django-money/blob/master/djmoney/models/fields.py#L161).

## Expected behavior

I expect `baker.make` to correctly populate a `MoneyField` on the given model.

## Actual behavior

The field is not populated. In the example code's test case (see below), I get hit with a `django.db.

[2021-01-02 18:16] cuducos opened #139 "Conflict between model import path and model naming in Django"
## Expected behavior

Given [the documentation](https://github.com/model-bakers/model_bakery/commit/f32e68725caa3fbb36ca47a963ed16ab53fe0b05#diff-f8d297907909489abc4b2b6756abe692ca8e41900c250e673cf854cd92e85cb7R55), I would expect to use an app/model naming string to work (for example, `baker.create("my_app.MyModel")`, but it doesn't work in an architecture where the whole Django app is a single P

[2021-01-03 16:14] anapaulagomes commented on #139
Yup, it makes sense to me. What do you think @berinhard?
Thanks for reporting this, @cuducos! 🌹

[2021-01-04 12:06] berinhard commented on #138
Hi @Chiron1991 thanks for opening this issue, but I'm afraid it's not a model bakery issue. Model bakery does not support third party's custom fields. By looking MoneyField's source code, I noticed several customization and maybe this can be causing the issue. I'd really like to have time to properly test this scenario, but there are plenty other new issues to review and I'm struggling to keep on

[2021-01-04 12:06] #138 closed

[2021-01-10 20:13] dmwyatt commented on #82
@formacube This is just the way python works, nothing specific to this library.

`pieces_generator()`, makes an instance of `pieces` when the file is imported, and then that's it.  It's always going to be the same instance of `pieces`.

`make_puzzle_piece` *without the parentheses* is passing in the function to be called rather than the return value of that function.

`model_bakery` knows that whe

[2021-01-10 20:21] formacube commented on #82
@dmwyatt you are right.

But I thought that maybe it could be worth mentioning it in the documentation, as it took me many months to figure that out, and potential users of this library are not necessarily all very versed into those details as well

[2021-01-11 11:22] berinhard commented on #82
Thanks for pointing this out @dmwyatt! Closing this issue.

[2021-01-11 11:22] #82 closed

[2021-01-13 19:10] #139 closed

[2021-01-16 18:33] JustinC474 commented on #29
+1 to both of these requests. I would have expected `_fill_optional=True` to cascade to related models.

[2021-01-18 08:45] carltongibson commented on #133
Hi @rhenanbartels. [From the docs](https://model-bakery.readthedocs.io/en/latest/recipes.html):

Does `section_recipe = Recipe(Section, survey=related(survey_recipe))` work as you intend?

[2021-02-21 08:50] anapaulagomes opened #144 "Improve documentation structure and examples"
The team of Model Bakers is preparing a new repo with examples of usage and also reviewing our current documentation. We noticed that part of the issues we get here are related to the lack of documentation. Some features aren't even in the docs yet. 😅

This issue is a place to write down the places where we think we need to document better. Suggestions are always welcome.

[2021-02-22 10:15] tuky opened #145 "OneToOneField breaks _quantity > 1"
Lets assume you have a `Profile` model with a `1:1` relation to the `User` model. Then this will fail in a unit test:

[code]

## Expected behavior

2 users created and 2 profiles created attached to each other.

## Actual behavior
`IntegrityError`
[code]
The reason for this is that `attrs` in https://github.com/model-bakers/model_bakery/blob/1.2.1/model_bakery/baker.py#L72 is filled with the same

[2021-02-22 10:36] tuky commented on #145
btw, my expectation stems from my thinking, that
[code]
is nothing but a handy shortcut for
[code]
which indeed does work.

[2021-02-26 01:20] johnfraney commented on #133
@carltongibson I recently came up against this, too. I think that using `related` creates an unrelated foreign key instance when calling `make()` on the recipe here:

https://github.com/model-bakers/model_bakery/blob/main/model_bakery/recipe.py#L53

I'm afraid I don't have time right now to put together a sample project with a minimal reproduction.

[2021-02-27 14:00] amureki commented on #35
Done in:
#141
#143
#147

Please, note, I left `model_bakery.timezone. tz_aware` - I think, this is good to have. However, I am happy to reopen this if anyone would be having sggestions.

[2021-02-27 14:00] #35 closed

[2021-03-10 10:00] cb109 commented on #136
@amureki Thank you for working on this :smiley: I think we are close! I have installed your branch locally and ran our tests against it: It seems that creating related model instances is now problematic, when those are optional and do NOT have a default that isn't `None`. I tried to reproduce that with a test, maybe you can try to double-check:

[code]
(It does not seem to matter whether we use `C

[2021-03-10 16:59] amureki commented on #136
@cb109 great, thanks for running your tests against your setup! This helps to discover cases for which we do not have tests yet. 👍

I am trying provided test case now, however it is also related to the original issue introduced in 1.2.1 (enforcing default) and has nothing to do with my draft change. I'll try to see how can we cover this case.

[2021-03-10 18:25] amureki commented on #136
@cb109 would you mind running your tests against 73ac0d3b76fcddd526223a997550daadb7a4e55a (in #164)?
I went in a different direction and put an extra check before applying a default value (this solution I also do not like, but we need to find a stable point and play from there...).

[2021-03-11 13:59] cb109 commented on #136
@amureki just pulled it and ran tests, all is green :heavy_check_mark: Well done! And so much more elegant!

[2021-03-12 13:36] #136 closed

[2021-03-16 20:40] israelst commented on #23
Besides the point raised by @b0g3r, the `freezegun` approach would be problematic when `auto_now` is paired with `null=True`, which is exactly the case I have on hand right now, so I had to do the following:

[code]

It makes sense for me to override the `created_at` value, given that it has been explicitly passed. I don't see how user intention could be different in that case.

What do you all th

[2021-03-19 05:25] abbottc opened #166 "Using an iterator/generator to populate a GenericForeignKey field when creating many instances with _quantity fails"
A TypeError is produced when creating multiple model instances using `baker.make()` with the `_quantity` param, and the model in question has a GenericForeignKey field where an iterator or generator is passed to `baker.make` as the value for the GenericForeignKey field.

## Expected behavior

Values yielded by the iterator/generator should become the successive field values for each of the instanc

[2021-03-19 06:29] abbottc commented on #166
Looking through Django's codebase and the `Baker.make()` code in this project, I notice that only the `GenericForeignKey` and `GenericRelation` fields are ever added to `model._meta.private_fields`. Since `Baker._skip_fields()` explicitly skips `GenericRelation` fields, perhaps a fix would merely be to add `+ tuple(self.model._meta.private_fields)` on the end of the return value of `Baker.get_fiel

[2021-03-20 08:26] amureki commented on #23
Hey @israelst thank you for following up on this one and providing another use case! 👍

If you have something in mind, we'd be happy to see your implementation proposal, sure! If you want, feel free to open a PR with new failing test cases and do a proposal right there. Otherwise, we can discuss it here if you don't feel confident enough about the codebase.

Cheers,
Rust

[2021-03-26 18:12] rennerocha opened #167 "Add a bit more flexibility on baker_recipes.py file location"
Provide other locations for the `baker_recipes.py` file inside an app.

## Expected behavior

I expect that I could also be able to create my app recipes in `app/tests/baker_recipes.py` file

## Actual behavior

To create a [recipe](https://model-bakery.readthedocs.io/en/latest/recipes.html#recipes), we need to create a `baker_recipes.py` file in the app root. However, usually I create a `tests` d

[2021-04-01 20:06] #145 closed

[2021-04-04 16:55] Honza-m commented on #167
This could be considered a workaround but this is how I keep the `baker_recipes.py` file in the test directory. Given a project like this:
[code]

If you create a Recipe called `person_recipe` in `myapp/tests/baker_recipes.py`, you have two options to import this in the `myapp/tests/test_me.py` file.

Option 1:
[code]

Option 2:
[code]

Maybe this is just a documentation issue?

[2021-04-05 14:01] berinhard commented on #167
HI @rennerocha thanks for opening this issue and using model bakery! Also, thanks @Honza-m for helping me with your comment that is, in fact, a precise explanation on how to place your `baker_recipes.py` file under your tests directory. I opened #175 PR to improve the docs to cover this specific usage of recipes.

For the sake of explanation, this import strategy was initially designed several yea

[2021-04-05 14:14] #167 closed

[2021-04-19 08:34] starryrbs opened #180 "When the model has FileField, baker.make does not support automatic file generation"
I have a model,
[code]

[code]
I got the following error
[code]
The cause of the problem is that the file is not created

## Expected behavior

return File Object

## Actual behavior

[code]

## Reproduction Steps

How to reproduce this issue.

[code]

### Versions

Python: 3.6
Django: 3.1
Model Bakery: 1.2.1

[2021-04-19 15:51] mom1 commented on #180
You tried this? `chunked_file = baker.make('app.ChunkedFileUpload', _create_files=True)`

[2021-04-19 17:24] benwhalley opened #181 "Django 3.2 support"
Django 3.2 is now out, but this is in requirements.txt

    django>=2.2<3.2

Is this due to a hard incompatibility with 3.2, or just a precaution?

[2021-04-20 00:05] starryrbs commented on #180
Thank you for your reply.

[2021-04-20 00:05] #180 closed

[2021-04-20 11:23] amureki commented on #181
Hey @benwhalley!
That's a good catch, I missed that one!

Now we are addressing it with #182
Could you, please, tell me if current release (1.3.0) is not working with Django 3.2 due to that?

[2021-04-20 14:27] benwhalley commented on #181
Yes - I closed because realised you had fixed it. It's still broken in 1.3.0 though... I guess will need to wait to 1.3.1?

[2021-04-20 14:43] amureki commented on #181
@benwhalley yes, we'll try to release 1.3.1 with this fix as soon as possible. Thank you for creating an issue! ✨

[2021-04-24 13:57] amureki commented on #181
@benwhalley hi Ben!
We just released 1.3.1 version covering this issue:
https://pypi.org/project/model-bakery/1.3.1/

In case of any issues, feel free to ping us here, or open another issue!

Best,
Rust

[2021-04-24 13:57] #181 closed

[2021-05-11 08:56] Arussil opened #192 "LookupError: No installed app with label 'tests'"
Short summary.

## Expected behavior

I have a tests folder which contains baker_recipes, conftest, test files etc... https://github.com/model-bakers/model_bakery/pull/140 this worked:

[code]

## Actual behavior

After installing latest model_bakery i get this error:

[code]
As "tests.item_recipe" is interpreted as a django app by _recipe:

[code]

## Possible solutions:

Moving baker_recipes.py

[2021-05-11 17:12] berinhard commented on #192
Hi @Arussil, is your app named "tests" tests? Because, from the project docs:

You don’t have to place necessarily your `baker_recipes.py` file inside your app’s root directory. If you have a tests directory within the app, for example, you can add your recipes inside it and still use `make_recipe`/`prepare_recipe` by adding the tests module to the string you’ve passed as an argument. For example:

[2021-05-12 07:42] Arussil commented on #192
Hello @berinhard , maybe i wasn't so clear on my example :D

This is the project folder:

[code]

"tests" it's not a django app and so it's not in INSTALLED_APPS: this setup worked with model_bakery 1.2.1, before the change to _recipe.

[2021-05-14 14:17] berinhard commented on #192
Ow, I see! Thanks the explanation @Arussil! So, this is definitely a bug introduced by 1.2.1.

[2021-06-06 22:52] luisiacc opened #200 "Add support for AutoSlugField & Suggestion to deal with non supported fields."
I see there is no support for AutoSlugField, is there a way to surround this limitation ? Anyways I think support for it would be nice.

An option for non supported fields would be to set a fallback field to get, instead of the field that is not supported. Example
[code]
or even passing a function
[code]

Now when generating the instance, instead of throwing an error saying that there is no suppor

[2021-06-07 14:29] timjklein36 commented on #166
Does this work as expected when mocking the other two fields via iterators?

[code]

[2021-06-07 21:15] abbottc commented on #166
Yes that works for a simple case like the example, since the issue occurs through using the `GenericForeignKey` model interface (i.e. the declared GFK field itself), and that workaround uses the underlying fields and not the interface.

Consider an example akin to what GFKs are really used for, such as the typical example of a model to tag a variety of other models with keywords. Perhaps `OtherMod

[2021-06-08 16:27] berinhard commented on #200
Hi @luisiacc, thanks for opening this issue.

Model-bakery has a strict decision of supporting any other fields rather than Django's default ones. From a Google search, it seems that [AutoSlugField is defined by django-extensions lib](https://django-extensions.readthedocs.io/en/latest/field_extensions.html), not Django itself. That's the reason bakery doesn't provide support to it by default.

Any

[2021-06-08 16:27] #200 closed

[2021-06-08 16:51] luisiacc commented on #200
Thank you @berinhard, what you say makes total sense 👍.

[2021-06-09 07:49] starryrbs opened #202 "_bulk_create does not create Relate Instance using OneToOneField"
I have the following models:
[code]
When I use bulk create=True,
[code]

## Expected behavior

An instance of `House` is created

## Actual behavior

The instance of `House` was not created.

If the `_bulk_create` is not used, it works fine

## Reproduction Steps

How to reproduce this issue.

[code]

### Versions

Python: 3.6
Django: 3.1
Model Bakery: 1.3.1

[2021-06-13 10:43] #192 closed

[2021-06-14 16:29] walison17 opened #204 "Recipes with `foreign_key` and `one_to_one=True` breaks"
Recipes that uses reverse relationship `foreign_key` and `one_to_one=True` break when call make

[code]

What you expected.

2 users created and 2 profiles created attached to each other.

What happened instead.

[code]

### Versions

Python: 3.9.3
Django: 3.1.8
Model Bakery: 1.3.2

[2021-06-14 20:42] berinhard commented on #204
Hi @walison17 thanks for opening this issue. Probably the fix for this should also fix #28 because, even though they differ a little bit on their contexts.

But, actually, I fell that the modeling you've used to describe your problem is not correct. Because, every time you `baker.make_recipe("yourapp.profile")` you'll already  populate the FK to the user. So, in your test, you can do things such a

[2021-06-14 20:52] berinhard commented on #204
I don't know, maybe we're missing some type of dependency inversion here to make the tests easier and more semantics. I don't know, something like:

[code]

This method would output a special type of recipe that depends on a previous one to work. So it'll:

- Create the Profile recipe and, by doing so, create the User instance

[2021-06-14 21:10] berinhard commented on #202
Actually, this is true also for regular foreign keys. Here are 2 tests to reproduce such scenarios:

[code]

[2021-06-14 21:10] berinhard commented on #202
Thanks for opening this issue @starryrbs

[2021-06-14 22:21] berinhard commented on #133
Hey @rhenanbartels it took me a while to get back to this, but here I am =}

Actually, this is kind of a miss usage of bakery.  If you want to have the survey section, there's no need to create the survey for the survey recipe before.

Recipe, as the name suggest, just describes which values bakery should use when creating issues. So, the `foreign_key` function does not stands for "the same instan

[2021-06-14 22:24] berinhard commented on #133
Maybe your usage scenario has something to do with what I'm discussing at this issue as well: https://github.com/model-bakers/model_bakery/issues/204#issuecomment-860978073

Let me know if it makes sense to you

[2021-06-16 06:19] starryrbs commented on #202
Thank you for your help and look forward to solving this problem @berinhard.

[2021-06-16 14:49] berinhard commented on #166
Hi @abbottc, thanks for opening this issue.

My guess here is that the [`_clean_attrs` method](https://github.com/model-bakers/model_bakery/blob/b90519e9c116a1ee207aeb947d74ef91bf222d1b/model_bakery/baker.py#L430) which is responsible to, for example, move iterable values to `self.iterator_attrs` is not working properly under such circumstances. This can have to do with the `private_fields` you've

[2021-06-16 15:05] berinhard commented on #132
Hi @abbottc thanks for opening this issue.

Actually, you're right about this not being able to be fixed. There's a hack to "reset" the `seq` call after the test finishes without creating any extra API for bakery. The hack is this query count you've noticed. The motivation behind this hack was: how to make the recipe to know that the `seq` should start from the beginning once a second test uses it

[2021-06-16 15:08] berinhard commented on #129
Hi @lassandroan thanks for opening such a detailed issue. I think your comments already points to possible fixes as well. :+1:

I'm flagging this issue as a bug.

[2021-06-16 15:11] berinhard commented on #204
I'm closing this issue since the same problem was already documented in #97.

[2021-06-16 15:11] #204 closed

[2021-06-16 18:44] abbottc commented on #166
Hi @berinhard,

Thanks for the follow-up. I'm more than happy to submit a PR, along with supporting test case(s), changing https://github.com/model-bakers/model_bakery/blob/main/model_bakery/baker.py#L322 from:

        return self.model._meta.fields + self.model._meta.many_to_many

to:

        return self.model._meta.fields + self.model._meta.many_to_many + tuple(self.model._meta.private_fields)

[2021-06-16 18:57] abbottc commented on #132
Hi @berinhard,

Thanks for following up on the issue and for the detail in explaining the rationale behind the query that gets executed in this scenario. If you'd like me to submit a PR making the minor doc addition, let me know.

[2021-06-16 19:08] berinhard commented on #166
@abbottc being honest, I don't have an answer to your question about `private_fields`. It can be just something that was missing since old `model-mommy` project and no one missed it, until you =)

And sorry about the misleading tips on `skip_fields`. You're correct about it too. Please, feel free to go on with a PR and I'll be happy to review it :+1:

[2021-06-16 19:15] berinhard commented on #132
Sure, that would be great!

[2021-06-17 02:25] abbottc commented on #166
Thanks @berinhard, the PR is up. Let me know if there are any concerns with it.

[2021-06-17 03:09] abbottc commented on #132
Thanks, the PR is up.

[2021-06-17 07:39] abbottc opened #209 "Calling prepare_recipe before make_recipe on a Recipe with a seq gives both records the same seq value"
For a `Recipe` with a `seq`, if a test calls `prepare_recipe` then later calls `make_recipe`, then the `seq` will give the same value in both calls, rather than incrementing values. So, if that prepared instance is saved later during the test, it would produce an unexpected database integrity error if it were a unique field, for example.

This issue is due to this line of code (https://github.com/

[2021-06-17 07:42] abbottc commented on #132
@berinhard Also, thinking about what you explained regarding the query led me to consider other issues related to that which could be considered less minor than this issue, and I've documented an example in #209.

[2021-06-18 07:22] starryrbs opened #210 "_bulk_create cannot use _using"
`_bulk_create` cannot use `_using`

I have the following models:

[code]
When I use bulk create=True,

[code]

## Expected behavior

`House` is created normally. It is normal not to use `_bulk_create`.

## Actual behavior

`using` is the default.

## Reproduction Steps

How to reproduce this issue.

[code]

### Versions

Python: 3.6
Django: 3.1
Model Bakery: 1.3.1

[2021-06-18 07:52] #166 closed

[2021-06-18 10:26] GitRon opened #211 "Typo in docs"
In the [docs](https://model-bakery.readthedocs.io/en/latest/recipes.html) is a typo in the filename: it says `barker_recipes.py` instead of baker. Tried to fix it but couldn't find the spot in the code base.

I guess it's not a big deal but it might confuse somebody.

[2021-06-18 12:47] timjklein36 commented on #211
Is it on the exact page you linked ([`Docs >> Recipes`](https://model-bakery.readthedocs.io/en/latest/recipes.html))?

The only occurrences I could find there all seem correct:

![image](https://user-images.githubusercontent.com/10482910/122562819-7ae85500-d011-11eb-832e-90dad4d78d34.png)

[2021-06-18 12:50] timjklein36 commented on #211
Looks like two occurrences here: https://github.com/model-bakers/model_bakery/blame/main/docs/source/recipes.rst#L75-L76.

Thanks for the catch. I will put together a fix for this.

[2021-06-18 13:46] GitRon commented on #211
Cool! 👍

[2021-06-18 13:55] #211 closed

[2021-06-18 21:39] abbottc commented on #209
Having thought over this some more, I keep coming to the conclusion that a custom test runner is the best solution, although I know that option had been considered already and this database query was decided on instead. I would guess the reasoning against a test runner was around the desire to keep a minimal user configuration, and a test runner does require one line to be added to a settings.py f

[2021-06-22 14:31] #202 closed

[2021-06-22 14:34] timjklein36 commented on #209
First of all, thank you for putting so much thought and detail into this issue.

I am a recently new maintainer to this project so I do not have much in the way of historical knowledge, but here a some of my thoughts on your proposal:

- I think that there could always be a "fallback" method that relies on a (admittedly non-ideal) database query so that the user is not forced to pre-configure a di

[2021-06-22 14:34] berinhard commented on #210
Thanks for opening this issue @starryrbs. Probably we have to update the new [`bulk_create` method](https://github.com/model-bakers/model_bakery/blob/main/model_bakery/baker.py#L619) to consider this parameter and to pass it to subsequent `save` calls.

[2021-06-22 14:57] timjklein36 opened #215 "Refactor `QueryCount` usage to use `assertNumQueries` instead"
The existing [`QueryCount` test utility class](https://github.com/model-bakers/model_bakery/blob/0fc9590838ee41bb378a2ebdcd9a452d31e39946/tests/utils.py#L4) was implemented without the knowledge of an [existing `django` built-in way of asserting that a certain number of database queries were performed](https://docs.djangoproject.com/en/3.2/topics/testing/tools/#django.test.TransactionTestCase.asse

[2021-06-22 17:48] abbottc commented on #209
Hi Tim,

Thanks for the detailed response, and thanks for being an open source maintainer.

Yes, I can write a PR for this. I'll wait though until hearing from the others you mentioned, in order to have a confirmed and agreed on plan to try before doing the work on it.

For the idea of providing a TestCase subclass and mixin as an alternative setup (likely for developers who only have a small numb

[2021-06-24 12:28] PritamDutt opened #216 "Need option to skip fields"
Currently there is no option to skip certain fields when calling `baker.make` or I could not find if there is.

### My use case:

We have certain unmanaged Django models which are mapped to external reporting tables beyond the scope of application, and lack primary key.

We are currently using `ctid` [ [system column] ](https://www.postgresql.org/docs/11/ddl-system-columns.html) as the primary key

[2021-06-24 22:55] Edald123 commented on #215
Hi! may I work on this issue? If yes, do I need to know anything else to start working on it?

[2021-06-25 00:38] timjklein36 commented on #215
@Edald123 By all means, feel free to work on this issue. That would be great!

You shouldn't need any knowledge beyond the information from my original description.

Basically replace the following pattern:

[code]

With this:

[code]

[2021-06-25 02:21] Edald123 commented on #215
Thank you! I'm going to start working on it then, can you assign me?

[2021-06-25 02:29] timjklein36 commented on #215
@Edald123 One thing to note: the test classes will have to subclass Django TestCase to use the assertion method.

[2021-06-25 02:31] Edald123 commented on #215
Thanks for the information. I will pay attention to that as well.

[2021-06-25 12:40] berinhard commented on #216
Hi @PritamDutt, thanks for opening this issue.

Unfortunately there's no way in the current API to skip fields. The idea behind model bakery is to mirror everything that's being defined by Django models, such as not creating values for nullable fields or using default values when they exist. Also, model bakery only supports [Django's default model fields](https://docs.djangoproject.com/en/3.2/ref/

[2021-06-25 12:40] #216 closed

[2021-06-25 12:42] berinhard commented on #215
Yay! Go ahead @Edald123 =) We'll be happy to review your PR! :cake: :moon_cake: :cake:

[2021-06-25 13:20] PritamDutt commented on #216
Thank you @berinhard for letting me know.. since ctid is a system column, and primary key cannot be null.. I will look out for more options in my use case..

Thank you once again for quick response.

[2021-06-27 23:25] Edald123 commented on #215
Hi! I've made the requested changes, I just have one question. Since the class QueryCount is alone in the file `model_bakery/tests/utils.py` is it ok if I delete this file to remove the class?
Thank you!

[2021-06-28 12:48] timjklein36 commented on #215
@Edald123 I think your initial suggestion makes the most sense to me: move the `.count()` assertion outside of the `with` statement. That way, the intent of the `assertNumQueries` is very obvious to what is being asserted.

Second, yes, feel free to delete the entire `tests/utils.py` file since it would be empty otherwise. It was created when adding the `QueryCount` class there anyway, so it was n

[2021-06-28 15:31] Edald123 commented on #215
Hi! I made the changes already and my PR is ready to be reviewed, please let me know if anything needs to be changed. Thank you!

[2021-06-28 15:47] #215 closed

[2021-06-28 15:47] amureki commented on #215
@timjklein36 @Edald123 great work here 🤝

[2021-07-27 20:02] jjoocceeee opened #226 "Doesn't allow duplicate model names"
Even though Django allows for duplicate model names in different apps, Baker throws a `AmbiguousModelName` exception if duplicate model names are provided.

In Django this would be solved by using the `import as` method --
[code]

## Expected behavior
To use declared name of a model to create the model.

## Actual behavior
model_bakery.exceptions.AmbiguousModelName: ModelName is a model in more th

[2021-07-28 13:59] timjklein36 commented on #226
The exception message says it all:

...which in your example would be:

[code]

Since there is no way for bakery to determine which model you meant, then prefixing the app name is required.

[2021-08-13 14:59] berinhard opened #230 "Better exception message for non supported fields"
## Expected behavior

To add the field name to the exception that's raised when bakery can't handle a specific field type. Not having the field name in the exception forces the developer to inspect the model definition to figure out what's the name of the field they may want to add default values.

The ideal exception message could be something like:

[code]

## Actual behavior

[code]

## Reprodu

[2021-08-20 19:23] timjklein36 commented on #226
@jjoocceeee I am closing this issue, as there is already a workable method of resolving ambiguous model names (providing the "dotted path" which includes the app name).

Feel free to open up any other issues you have in the future.

[2021-08-20 19:23] #226 closed

[2021-09-29 01:05] lassandroan commented on #129
Hi @berinhard, forgot about this one for a while... but I just opened up a PR at https://github.com/model-bakers/model_bakery/pull/237 to address this

[2021-10-10 19:14] boatcoder opened #246 "Callables should have access to the arguments passed to the recipe"
I have a User and a Profile, the Profile has a FK -> User.  But I can use `user__profile`=foreign_key(ProfileRecipe) because that just creates a loose user and containing object creates a completely different User.
So, I make a callable called make_user() but it gets no arguments from the recipe, so it can't consume the arguments that might be things like `username`, `email`, `profile__something`

[2021-10-14 15:55] a-edakin opened #248 "AttributeError: 'ManyToManyRel' object has no attribute 'has_default'"
After update from 1.3.2 to 1.3.3 started getting exception from title.

Sorry I didn't debug properly this issue and can't say why this is happening but my best guess would be because of this change https://github.com/model-bakers/model_bakery/compare/1.3.2...1.3.3#diff-e5857deb915e241f429a0c118e89e06a3388d3ce1466e3aa4b960b7055172b6dL322

## Expected behavior
[code]

## Actual behavior
[code]

And

[2021-10-14 17:23] timjklein36 commented on #248
My guess (without diving into the code) is that it was a result of this change: 5d1be50056997a983b3cd302b02741219af2b4b9 from #237.

[2021-10-21 00:23] abbottc opened #249 "Following contributor instructions yields failing tests due to missing comma in requirements.txt"
Following the contributor instructions [here](https://github.com/model-bakers/model_bakery/blob/main/CONTRIBUTING.md) and then running `make test` currently produces certain test failures and errors. This is due to `requirements.txt` including `django>=2.2<4.0`, which appears to be missing the comma required between version specifiers, and therefore currently installs Django version 4.0a1. Since s

[2021-10-21 12:47] timjklein36 commented on #249
Good catch, @abbottc. I am not sure how it was even working with previous version specifiers. Here is the [relevant PEP (440)](https://www.python.org/dev/peps/pep-0440/#version-specifiers) documenting the available version clause specifiers.

This should be a trivial fix in the time before support for Django 4.0 comes to `model_bakery`.

[2021-10-26 03:27] ashiazed opened #254 "Changelog conflicts"
Since the repo has automated changelog checks in the CI, are you open to using something that minimizes conflicts in CHANGELOG.md?

The simplest I've found is to have a `changelog/unreleased` folder with yml files like this:
[code]

And every PR would just add a new file. I believe the CI action (action-changelog-reminder) supports this as well.

We'd then need a simple script to aggregate the CHA

[2021-10-29 15:50] #249 closed, assigned to nobody

[2021-10-30 13:31] #123 closed

[2021-11-08 14:38] berinhard opened #263 "Explicitly add _fill_optional parameter to baker.make and baker.prepare"
Recently I noticed that the `_fill_optional` argument isn't being displayed in Pycharm's helper dialog. Here's a print screen:

![Screenshot from 2021-11-08 11-32-02](https://user-images.githubusercontent.com/238223/140760891-88471823-3c34-444d-bfbb-c2641c69779a.png)

## Expected behavior

The `_fill_optional` argument should be displayed the same way as the other parameters. The possible types ar

[2021-11-26 11:54] adamchainz opened #265 "Crashes when django.contrib.contentypes is not installed"
If `django.contrib.contenttypes` is not installed, Model Bakery fails to run. Model bakery doesn't declare a hard dependency on content types, and it doesn't look like it needs one. It just has some unconditional imports that could be guarded.

## Expected behavior

Model bakery works.

## Actual behavior

It crashes when importing from `contenttypes`:

[code]

## Reproduction Steps

As above.

##

[2021-12-01 10:31] tuky commented on #99
could this be solved by introducing an explicit `reverse_related`, so `related(default_equipment)` becomes `reverse_related(default_equipment)` and model bakery delays creation of all `reverse_related` items to after the recipe's creation?

[2021-12-10 08:48] cb109 opened #273 "[BUG] baker.make() dunder syntax fails for through-table model in 1.3.3"
The v1.3.3 release broke a few of our tests where we use model_bakery's "dunder syntax" to specify fields on ForeignKeys on a through-table model.

I am able to reproduce it in a minimal example, but have no clue yet how to fix it, hoping you can point me in the right direction.

## Expected behavior

`baker.make()` should create the through-table model instance with instances in both ForeignKey f

[2021-12-29 11:58] amureki commented on #273
@cb109 thank you for providing such a detailed report and a PR with a test. Much appreciated!

I suspect https://github.com/model-bakers/model_bakery/pull/207/files#diff-e5857deb915e241f429a0c118e89e06a3388d3ce1466e3aa4b960b7055172b6dL322 to be the reason for this bug, but not yet sure how to tackle it.

Before I try to dig into it, @timjklein36 @berinhard, do you have ideas?
It would be nice to s

[2021-12-29 12:44] timjklein36 commented on #273
@amureki I don't have any ideas without looking into it further.

[2022-01-04 14:22] WillowP opened #282 "Using with Pytest raises naive datetime warning"
Thanks for the great library!!!

When using with Pytest, if I do not supply a time for datetime fields, I get this warning:

[code]

## Expected behavior

I expect model_bakery to supply timezone-aware datetimes to datetime fields when time zone support is active.

## Actual behavior

Model bakery supplied naive datetimes.

## Reproduction Steps

How to reproduce this issue.

Make a model:

[code]

[2022-01-10 11:44] cb109 commented on #273
I did some experimental changes, all tests pass when I change
[code]
into
[code]
That's probably not desired, but maybe it helps figuring out a solution, just wanted to mention what I observed.

[2022-01-18 04:13] Johnywhisky opened #284 "I've still got AttributeError: 'ManyToManyRel' object has no attribute 'has_default'"
Hi there, first of all I'm not a native at ENG so there may be typos or grammatical errors.

I've used python 3.7 and django 3.2 model_baker 1.13 but I just updated those to lastest version.

After then whenever I run test code I get AttributeError: 'ManyToManyRel' object has no attribute 'has_default'

when I used previous version, I never saw this error.

Is this my fault or some issue still re

[2022-01-18 05:36] #284 closed

[2022-01-18 05:51] Johnywhisky opened #285 "I got AttributeError: 'ManyToManyRel' object has no attribute 'has_default'"
## Short summary.

Hi there, first of all I'm not a native at ENG so there may be typos or grammatical errors.

I just update my project envs to lastest version.

After then whenever I run test code I get AttributeError: 'ManyToManyRel' object has no attribute 'has_default'

when I used previous version, I never saw this error.

## Expected behavior

What you expected.

[code]

## Actual behavior

[2022-02-04 19:31] boatcoder opened #289 "Putting Queries in baker_recipes.py (outside of recipes) breaks Github Actions test runs"
Locally tests ran fine.  On GH Actions they failed every time.

I was using some of the bakery models for integration testing and using them to create models based upon a JSON file I exported from another source.  This resulted in some usernames/emails colliding with existing data.  So, I put in some code to find the largest value and use that instead so that collisions wouldn't happen.  This will

[2022-02-04 21:06] timjklein36 commented on #289
Interesting, so do you think this would be something to include in [the documentation](https://model-bakery.readthedocs.io/en/latest/) as a "don't" for, say, a "do's and don'ts" section?

[2022-02-07 14:05] RandyRomero commented on #285
I have the same problem after updating Django from 3.1.14 to 3.2.12

[2022-02-08 10:48] soon opened #291 "ManyToOneRel fields (reverse FK) are broken in 1.3.3"
I'm trying to make an object with M2O field value set to a list of unsaved objects with FK set to `None` (see example below for details). This worked fine with 1.3.2 but is broken in 1.3.3 and 1.4.0

## Expected behavior

`baker.make` with `M2O` fields  correctly saves parent object and sets FK to child objects before saving them

## Actual behavior

Fails with `NOT NULL constraint failed` excepti

[2022-03-13 22:06] mko22 commented on #180
I tried and got this error message
MyModelName() got an unexpected keyword argument '_fill_optional'
Is there a way to fix this?

[2022-03-17 05:38] #285 closed

[2022-03-20 17:40] He3lixxx opened #297 "Use bulk_create for related objects with PostgreSQL, MariaDB 10.5+ and SQLite 3.35+"
In #206, bulk creation of related objects was introduced. However, for `_quantity=N`, it will cause N calls to `save()` of the related class, causing N database queries. [This comment](https://github.com/model-bakers/model_bakery/pull/206#issuecomment-866035911) claimed this was necessary to retrieve the IDs of the related objects.

According to the current django documentation, `bulk_create` will

[2022-03-21 19:42] He3lixxx opened #298 "_bulk_create=True silently and undocumentedly does not create M2M-entries"
Probably related to #202, as it is the same issue applied to ManyToManyField.

When using `baker.make` with `_bulk_create=True`, it will silently ignore arguments that should be used to fill many-to-many fields.

## Expected behavior
with
[code]
I'd expect
[code]
to work.

If it can't, for some technical reason, I'd expect it to be documented that this is not supported, and raise an exception.

##

[2022-03-21 21:30] Ambitiont109 commented on #23
You can set the value of `created_at` with queryset update function.
```Breed.objects.filter(pk=8).update(created_at =a)```

[2022-03-31 18:26] pheki commented on #248
@berinhard thanks a lot for maintaing this!

Is this still planned for next release? Looks like 1.4.0 has been released in the meantime

[2022-03-31 19:42] berinhard commented on #263
Fixed by #264

[2022-03-31 19:42] #263 closed

[2022-03-31 19:59] #289 closed

[2022-03-31 20:01] berinhard commented on #129
Already fixed by #237

[2022-03-31 20:36] #248 closed

[2022-03-31 20:41] berinhard commented on #273
Thanks for the tips here @cb109! This is was fixed in #299 and a new release will be ready soon.

[2022-03-31 20:41] #273 closed

[2022-03-31 22:26] berinhard commented on #282
@WillowP thanks for opening this PR, but I couldn't reproduce the error you are describing. I did exactly what you've suggestion on a project I have and got no warnings about naive datetime.

This is odd because we've already replaced any type of naive datetime manipulation since version 1.3.0 (see the [Changelog here](https://github.com/model-bakers/model_bakery/blob/main/CHANGELOG.md#removed-2))

[2022-03-31 22:26] #282 closed

[2022-03-31 22:27] pheki commented on #248
Wow, that was fast! Obrigado de novo! (thanks again 😉 )

[2022-03-31 22:35] berinhard commented on #248
Your comment helped me to remind myself about how long I was away of the project. Thank **you** =)

[2022-03-31 22:38] #230 closed

[2022-04-05 21:01] epicserve commented on #248
Anyone know when a release will be made with this fix?

[2022-04-05 22:23] berinhard commented on #298
Hi @He3lixxx thanks for opening this issue and you're correct, it has been fixed with the #206 PR that also fixed #202. I'm releasing a new version with the fix.

By the way, here's how I tested it based on your models:

[code]

**Important**: models created with `_bulk_create` can not have the object's primary key depending on which Django version and database backend you're using. In theory, [3.

[2022-04-05 22:33] berinhard commented on #248
HI @epicserve! It has been deployed in [1.5.0 release](https://pypi.org/project/model-bakery/1.5.0/)

[2022-04-05 22:40] berinhard commented on #24
Closing this issue give @timjklein36 reply and lack of subsequent feedback.

[2022-04-05 22:40] #24 closed

[2022-04-05 22:47] He3lixxx commented on #298
I'm sorry, but I'm a bit confused here.

The code snipped you posted asserts that
[code]

which would also be true if `.houses` was empty on all the HouseDetail instances. For me, with 1.4.0, the assertion from by original post still fails:
[code]

#206 was merged in June 2021 and was part of 1.3.3, so if this was fixed in #206, there shouldn't be the need for a new release and I shouldn't be able

[2022-04-05 22:52] berinhard commented on #298
My bad here @He3lixxx. You're correct about the issue, it's still happening. I changed the assert to

[code]

And I got the following traceback:

[code]

I'm reopening this issue.

[2022-04-06 23:00] jeremy-engel opened #308 "`_save_kwargs` inside of a recipe definition overridden"
As a result of #292, when certain attributes are passed as arguments to `Recipe`, they are overridden by defaults before the recipe is used to create the object.

## Expected behavior

When using a recipe such as `my_recipe = Recipe("MyModel", _save_kwargs={"foo": "bar"})`, by running `baker.make_recipe(my_recipe)`, the `kwargs` for the model's `save` should include the key `foo` with value `bar`.

[2022-04-10 11:47] magdumsuraj07 commented on #27
Hi, I am working on this issue. I have raised one PR here: https://github.com/model-bakers/model_bakery/pull/309

Please check it out and let me know if any changes are required.

[2022-04-11 08:47] cb109 commented on #273
Since I just updated our codebase to use [1.5.0](https://github.com/model-bakers/model_bakery/releases/tag/1.5.0) just wanted to leave a quick feedback that the issue indeed seems to be solved and all our own tests are passing again :+1:

[2022-04-13 16:52] berinhard commented on #27
Fixed by #309

[2022-04-13 16:52] #27 closed

[2022-04-22 09:55] codehelp opened #311 "pytests failing with test_create_model_with_contenttype_field"
After updating to package 1.5.0 for Debian, the previously working call to the tests is failing:

`PYTHONPATH=. pytest-3 -s -vv tests/`

## Expected behavior

I expected that the tests would pass in the same way as with 1.4.0

## Actual behavior

`tests/test_baker.py::TestHandlingContentTypeFieldNoQueries::test_create_model_with_contenttype_field FAILED`

[code]
## Reproduction Steps

As expected,

[2022-06-08 12:46] knyghty opened #322 "seq doesn't work for timezone aware datetime objects"
## Expected behavior

I expect to get a generator of datetimes.

## Actual behavior

I got an exception.

## Reproduction Steps

[code]

### Versions

Python: 3.10
Django: 4.0.5
Model Bakery: 1.5.0

[2022-06-08 16:06] The-Compiler commented on #308
I'm seeing the same with `_create_files=True` as well, bisected to #292 as well (to be more exact, this commit: [Better type hints for model_bakery.recipe by @hoefling · Pull Request #292 · model-bakers/model_bakery](https://github.com/model-bakers/model_bakery/pull/292/commits/2dfcf9b6487410de489941edcab729d8332077c7)).

With [this recipe](https://github.com/studentenportal/web/blob/master/apps/d

[2022-06-26 16:24] amureki commented on #311
@codehelp thanks for the report!

I am noticing old version of `pytest-django` package, which is not matching ones that were pinned for model-bakery 1.5.0:
https://github.com/model-bakers/model_bakery/blob/1.5.0/requirements_dev.txt#L14

I did install this version and indeed mentioned test fails with given traceback. I assume, there was some internal bug or change that was not allowing proper `wit

[2022-06-27 09:58] Salaah01 opened #329 "Memory leak"
**Describe the issue**
I have come across a memory leak when running a particular test. We were using version 1.6.0 of model_bakery, and only when I reverted to version 1.0.0 was the issue resolved. I have tested all other versions including 1.1.0 and the issue persists.

**To Reproduce**
I am not exactly sure what is causing this and so I will try to best describe the scenario.
Create a model wit

[2022-06-30 21:46] amureki commented on #308
Hey @jeremy-engel,

Thanks for the great issue report with the test patch! That helped a lot during the investigation. And I am sorry it took us so long to process the report.

@The-Compiler and thank you for sharing another failing case!

I came up with a draft solution in #330, which is not quite elegant (given my lack of experience with typed things).

I'd love to hear your opinions here.

@mod

[2022-07-08 21:55] HigorMonteiro commented on #322
Hello @knyghty
Do you really need to make use of `tzinfo=timezone.utc` passing it as a parameter?
I ask this question because you can use the timezone set in the django settings see the example below:

[code]
Other example this is https://github.com/labcodes/model_bakery/blob/main/tests/test_utils.py#L147

[2022-07-13 14:59] knyghty commented on #322
@HigorMonteiro I suppose it's not necessary no, as long as everything comes out in UTC. However I do find this behaviour a bit odd and I would expect it to work with aware datetimes.

I actually find it a bit confusing that it silently converts naive datetimes into aware ones but chokes on already aware datetimes - I find it cleaner to deal with explicitly aware datetimes where possible.

[2022-08-02 14:51] #308 closed

[2022-08-02 15:21] amureki commented on #308
@jeremy-engel @The-Compiler hey! It took us a while, but we [released a new version](https://pypi.org/project/model-bakery/1.7.0/) that is addressing this issue.

Please, at your convenience, take a look at [1.7.0](https://pypi.org/project/model-bakery/1.7.0/) and check if this solves everything for you!

[2022-08-02 15:22] amureki commented on #311
Hey @codehelp ! I'd go ahead and will close this issue, since I did not get any response to [my proposal here](https://github.com/model-bakers/model_bakery/issues/311#issuecomment-1166579207).

Please take a look at it at your time and if there is still something wrong, approach me in this or a new issue.

Cheers,
Rust

[2022-08-02 17:12] jeremy-engel commented on #308
This release takes care of it for me. Thanks!

[2022-08-24 09:20] mateokurti opened #340 "django.db.utils.OperationalError: no such column: model_name.deleted_by_cascade"
**Describe the issue**
I recently upgraded `model-bakery` from version 1.3.2 to 1.7.0. Also, I upgraded Django from 3.2.2 to 4.0 and django-safedelete from 1.0.0 to 1.3.0. After that upgrade, I get the following error everywhere that I've used `baker`:

[code]

If I downgrade the version of `django-safedelete` back to version 1.0.0 or even 1.1.2 it seems to work. I'm not quite sure if this is a pr

[2022-08-24 10:03] Salaah01 opened #341 "baker.make tries to set a field that is a foreign key on ContentType that something that doesn't exist."
**Describe the issue**
As part of testing an abstract model, within the tests, we create a dummy model which is used for testing and then is later dropped. This dummy model represents a view.

In other models we have fields which are a foreign key on the content type model. The problem arises when we try to use `baker.make` to create an instance of that model. Most of the time it works fine, but s

[2022-09-12 14:54] amureki commented on #68
@berinhard would you be up for continuing here?
I think it could become easier now with GitHub + Stripe Connect. Another alternative would be to use https://opencollective.com/

We could do a small research on things needed here and which option would suit us as a small non-profit community/org more.

[2022-09-26 13:42] grabov opened #348 "Get existing instance instead of making for deep model with unique=True."
**Describe the issue**
In case described below I have to create `Plan`, `Sub` and `Org` for every `TestCase` and pass it to each model instance creating with `baker.make()`. Otherwise I'm getting error `UniqueViolation`.

**To Reproduce**

[code]

Raises
[code]

**Expected behavior**
In my opinion it would be great to be able to define some creation logic for particular models that would be used e

[2022-09-29 14:15] epicserve opened #349 "Using a seeded Faker instance with Recipes breaks in versions 1.3.3 and greater"
**Describe the issue**
When using a seeded faker instance to generate strings (e.g. username) the assertions randomly fail, in versions 1.3.3 and greater of Model Bakery.

**To Reproduce**
You can view my [example project](https://github.com/epicserve/model-bakery-faker-bug) that has tests that reproduce the bug using tox to run the tests in multiple versions of Model Bakery and Django. It also ha

[2022-09-30 10:52] The-Compiler commented on #308
I'm a bit late to the party as well, but indeed I just upgraded from 1.4.0 to 1.7.0 without any issues - thanks, @amureki!

[2022-09-30 13:12] amureki commented on #308
Fantastic, thanks everyone, for the cooperation! 💯

[2022-10-04 15:40] amureki commented on #349
Hey @epicserve thanks for raising the issue!

I am not familiar with Faker, but happy to try to understand what is going on here.
Definitely kudos for providing test scenario and even making an example repository! 🏅
I tried to run it and indeed sometimes it fails.

May I ask why would you not define faker methods in recipe as callable?

[code]

So far, that's the way of using methods in the recipe

[2022-10-05 00:51] epicserve commented on #349
Hi @amureki,

Thank you for looking into this issue. The test repo is just a reproduction of the issue we're having in our main product and doesn't really capture the use case. Our product has exports where users can export their data. To test the export, we run a create data function that creates records using Model Bakery and Faker. When we create the data the first time, we create a snapshot, a

[2022-10-13 16:59] epicserve commented on #349
@amureki, THANK YOU SO MUCH! I tried your PR in the [bug project](https://github.com/epicserve/model-bakery-faker-bug/commit/aae23608ca329b9b7494ed2a4483c5171f568b90), and it seems to have solved it. I'll also try it out in our product to see if it solves it there. It seems like all the tests pass in the PR. Any chance this could get merged and get a release pushed out? This bug is blocking us on

[2022-10-13 19:55] #349 closed

[2022-10-13 20:00] amureki commented on #349
@epicserve https://pypi.org/project/model-bakery/1.8.0/ is out :)
Looking forward to getting your feedback from the product test. 👍

[2022-10-13 20:52] timjklein36 commented on #322
I would tend to agree with @knyghty and it should be a relatively simple fix.

[2022-10-13 20:59] timjklein36 commented on #340
Seems to me that if it is resolved by downgrading the version of some package other than `model_bakery` that it is probably not the cause of `model_bakery`. I actually don't see `model_bakery` anywhere in your stack trace, so I am going to close this issue since it does not seem related to this library.

[2022-10-13 20:59] #340 closed

[2022-10-13 21:12] timjklein36 commented on #348
I understand your issue and can sympathize, as I have encountered this problem on my projects as well. Unfortunately, there is no one-size-fits-all solution to this problem, so the resolution is left to the programmer.

There are, however, several ways to resolve this. One example would be to define a particular `Recipe` that will retrieve one of the valid, existing records from the database or cr

[2022-10-13 21:12] #348 closed

[2022-10-13 21:47] epicserve commented on #349
@amureki, it seems to be working in my project as well!

[2022-10-13 23:34] timjklein36 commented on #329
@Salaah01 Thanks for submitting this issue!

A little more info would be very helpful to see if this particular scenario can be reproduced.

Is there any chance you can share the view code? (or a simplified copy of the code that calls `model_bakery` and produces the leak?) Assuming, that is, that `'url/to/the/edit/view'`, from your sample test, refers to that form being used on said view.

Also, t

[2022-10-14 15:54] berinhard commented on #341
Hi @Salaah01 thanks for opening this, but I don't see how model bakery can be causing any error. On your issue there's no traceback from an error or even a code snippet showing model-bakery being used. Also, it's clear that your scenario is a little bit more complex, since your Django app depends on materialized views. This, for example, can have a collateral effect with the error you're seeing.

[2022-10-14 15:59] berinhard commented on #329
@Salaah01 just by upgrading bakery to a new version, doesn't enforces it as being the root of your memory leak. Actually, your test crashes at your `self.client.get` request, it means that it's **definitely** not model-bakery causing it. This is because model-bakery doesn't do anything else outside the `baker.make` and `baker.prepare` method.

Anyway, as suggested by @timjklein36, can you share th

[2022-10-14 15:59] #322 closed

[2022-10-15 13:57] amureki commented on #298
Hey everyone,

I created a fix for this issue here: #354

However, I got hit by something else while running the test on Django 3.2 (Django 4.0 works just fine).
Will need a bit more time to understand what is going on (I am suspecting https://docs.djangoproject.com/en/4.1/releases/4.1/#reverse-foreign-key-changes-for-unsaved-model-instances to play certain role here, but don't know for sure).

@H

[2022-10-15 16:16] amureki commented on #298
Ok, found, the difference in Django 3.2 and Django 4.0 that affects SQLite tests:
https://docs.djangoproject.com/en/4.1/ref/models/querysets/#django.db.models.query.QuerySet.bulk_create

[2022-10-17 09:48] legshort opened #356 "FileField and ArrayField not generated with random data when default=None or default=list"
**Describe the issue**

Generating random data is not working below the condition.
ArrayField with default=list
FileField with default=None

**To Reproduce**
[code]

**Expected behavior**
ArrayField and FileField should be filled with random data.

**Versions**
 - Python: 3.10.3
 - Django: 4.1.2
 - Model Bakery: 1.8.0

[2022-10-24 06:07] #298 closed

[2022-10-24 09:27] amureki commented on #298
Hey @He3lixxx !

Sorry, it took us long, but we released the fix in model-bakery 1.9.0.

I'd love to get your feedback on how this works for you 🙏

[2022-10-24 09:29] amureki commented on #322
Hey @knyghty !

We released the fix for this issue in model-bakery 1.9.0.
Happy to get your feedback on how this works for you! 🙏